<main class="content">
    <div *ngIf="loading" class="loader"></div>
    <h1 class="title">{{"MODIFICATIONS.USER-INFO" | translate}}</h1>
    <div class="user-info">
        <div *ngIf="!loading" class="user-info-img-container">
            <img *ngIf="user.photoURL != null" class="user-info-img-container-img" [src]="user.photoURL" alt="User Image">
            <img *ngIf="user.photoURL == null" class="user-info-img-container-img" src="https://firebasestorage.googleapis.com/v0/b/fitverum.appspot.com/o/default-user.png?alt=media&token=5974ac39-112f-4bd1-a170-d2a23c392d95" alt="User Image">
        </div>
        <div *ngIf="!loading" class="user-info-container">
            <h1 class="user-info-container-name">{{user.displayName}}</h1>
            <p class="user-info-container-email">{{user.email}}</p>
            <p class="user-info-container-membership">{{"MODIFICATIONS.MEMBER-SINCE" | translate}}{{membership | date: 'longDate'}}</p>
        </div>
    </div>
    <h2 *ngIf="!loading && !this.auth.thirdPartyLogin" class="change-data-title">{{"MODIFICATIONS.CHANGE-USER-DATA" | translate}}</h2>
    <form *ngIf="!loading && !this.auth.thirdPartyLogin" class="change-data">
        <div class="change-data-password">
            <input type="password" class="change-data-password-input" placeholder="New Password" name="newPassword" [(ngModel)]="newPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,32}$">
            <input type="password" class="change-data-password-input" placeholder="Confirm New Password" name="confirmNewPassword" [(ngModel)]="confirmNewPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,32}$">
        </div>
        <div class="change-data-name">
            <input type="email" class="change-data-name-input" placeholder="New Email" name="newEmail" [(ngModel)]="newEmail">
            <input type="text" class="change-data-name-input" placeholder="New Display Name" name="newDisplayName" [(ngModel)]="newDisplayName">
        </div>
        <label for="Profile picture" class="change-data-img">
            <label class="change-data-img-label" for="Profile picture">{{uploadMessage}}</label>
            <img *ngIf="!uploaded" class="change-data-img-add-img" src="../../../../../assets/images/add.png">
            <img *ngIf="uploaded" class="change-data-img-uploaded-img" [src]="uploadedPhotoURL">
        </label>
        <input class="change-data-img-input" type="file" id="Profile picture" name="Profile picture" accept="image/*" (change)="uploadFile($event)">
        <button *ngIf="!loading" class="change-data-btn" (click)="changeData()">{{"MODIFICATIONS.CHANGE-DATA" | translate}}</button>
    </form>

    <p *ngIf="errorMessage != ''" class="error-message">{{errorMessage}}</p>
    <p *ngIf="success" class="success-message">{{successMessage}}</p>
    <h3 *ngIf="!loading && this.auth.thirdPartyLogin" class="thirdPartyLoginMessage">{{"MODIFICATIONS.3RD-PARTY" | translate}}</h3>
</main>
