@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

/// Estilos para la vista de rutinas de entrenador
.content{
  @include response(sm){
    height: auto;
    padding-bottom: 30rem;
  }
  @include response(xl){
    height: auto;
    padding-bottom: 6.8rem;
  }
  height: auto;
  padding-bottom: 6.8rem;
}

.breadcrumbs {
  @include breadcrumbs();
}

/// Estilo del contedor de las rutinas
.trainer-routines-container {
  @include response(xl) {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 1fr;
  }
  @include flex($direction: column, $justify: center, $align: center);

  &-clients {
    @include response(xl) {
      border-right: 1px solid var(--tertiary-color);
      height: calc(100vh - 126.797px - 10rem);
    }
    margin-top: 5rem;
    grid-area: 1 / 1 / 2 / 2;
    &-title {
      @include response(lg){
        @include view_header(4rem);
      }
      @include view_header(3.5rem);
      margin-bottom: 2rem;
    }
    &-table {
      width: 100%;
      border-collapse: separate;
      @include response(xl) {
        border-spacing: 3rem;
      }
      border-spacing: 2rem;
      tr {
        box-shadow: 0 0.5rem 1rem var(--box-shadow-thin);
        border-radius: 1rem;
        cursor: pointer;
        transition: $transition;
        &:hover {
          transform: translateY(-0.5rem);
          box-shadow: 0 1rem 2rem var(--box-shadow-thin);
          transition: $transition;
        }
      }

      tr.selected{
        box-shadow: 0 0.5rem 1rem getColor(green);
        border-radius: 1rem;
        cursor: pointer;
        transition: $transition;
        &:hover {
          transform: translateY(-0.5rem);
          box-shadow: 0 1rem 2rem getColor(green);
          transition: $transition;
        }
      }

      &-client {
        &-img {
          @include response(xl){
            width: 7.5rem;
            height: 7.5rem;
          }
          width: 5.5rem;
          height: 5.5rem;
          border-radius: 50%;
          object-fit: cover;
          margin: 1rem;
        }
        &-name {
          @include response(xl) {
            font-size: getFontSize(xl);
          }
          font-size: getFontSize(md);
          font-family: $font-family-title;
          font-weight: getFontWeight(bold);
          color: var(--text-color);
        }
        &-button {
          @include user_button();
        }
      }
    }
  }

  &-info {
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    width: 100%;

    &-title {
      @include response(lg){
        @include view_header(4rem);
      }
      @include view_header(3.5rem);
      margin-top: 5rem;
      &-icon{
        margin-left: 1rem;
        color: getColor(red);
        transition: $transition;
        &:hover{
          cursor: pointer;
          transition: $transition;
          scale: 1.2;
        }
      }

      &-username{
        color: var(--text-color);
        padding-left: 1rem;
      }
    }

    &-no-client{
      text-align: center;
      font-size: 2rem;
      font-family: $font-family-title;
      font-weight: getFontWeight(bold);
      color: var(--text-color);
      padding-top: 1rem;
    }

    &-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      gap: 7rem;
      padding: 5rem;

      &-actions {
        @include response(xl) {
          @include flex($direction: row, $justify: flex-end);
        }
        @include flex($direction: row, $justify: center);
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0 5rem;
        &-button {
          @include button(lg, true);
          margin-left: 2rem;
        }
      }
    }

    &-no-routines{
      @include view_header(2rem);
      color: var(--cuaternary-color);
    }
  }
}

::ng-deep .pagination {
  margin-top: 1rem;
  justify-content: center;
  // Al venir de un componente de terceros, no se puede usar el @include ni las variables de sass propias
  --bs-pagination-color: var(--text-color);
  --bs-pagination-hover-color: var(--primary-color);
  --bs-pagination-active-bg: #6a69dc;
  --bs-pagination-active-border-color: #6a69dc;
  --bs-pagination-font-size: 2rem;
  --bs-pagination-padding-x: 1.5rem;
  --bs-pagination-padding-y: 0.75rem;
  --bs-pagination-focus-box-shadow: none;
}

/// Estilos del mensaje de no hay clientes
.no-clients-message {
  font-size: 2rem;
  font-family: $font-family-title;
  font-weight: getFontWeight(bold);
  color: var(--text-color);
  margin-bottom: 2rem;
  text-align: center;
}

/// Estilos de mensaje de error
.error-message {
  font-size: getFontSize(md);
  font-family: $font-family-title;
  font-weight: getFontWeight(bold);
  color: getColor(red);
  margin-bottom: 2rem;
  text-align: center;
}

.loader {
  @include loader(40vh, 28vw);
}

@include toast(-15rem, true);

@include response(xl){
  @include toast(-21rem, false);
}
