<main class="content">
  <div class="trainer-routines-container">
    <div class="trainer-routines-container-clients">
      <h1 class="trainer-routines-container-clients-title">Clients</h1>
      <table class="trainer-routines-container-clients-table">
        <tr
          *ngFor="let client of clients | slice : (page - 1) * pageSize : page * pageSize" (click)="selectClient(client)">
          <td>
            <img
              *ngIf="client.photoURL != null"
              referrerpolicy="no-referrer"
              class="trainer-routines-container-clients-table-client-img"
              [src]="client.photoURL"
              alt="Client Image"
            />
            <img
              *ngIf="client.photoURL == null"
              class="trainer-routines-container-clients-table-client-img"
              src="https://firebasestorage.googleapis.com/v0/b/fitverum.appspot.com/o/default-user.png?alt=media&token=5974ac39-112f-4bd1-a170-d2a23c392d95"
              alt="Client Image"
            />
          </td>
          <td class="trainer-routines-container-clients-table-client-name">
            {{ client.displayName }}
          </td>
          <td>
            <button class="trainer-routines-container-clients-table-client-button" (click)="selectClient(client)">
              <i class="fa-solid fa-hand-pointer"></i>
            </button>
          </td>
        </tr>
      </table>
      <p *ngIf="this.clients.length == 0" class="no-clients-message">
        There are currently no clients available
      </p>
      <div class="pagination">
        <ngb-pagination
          [collectionSize]="this.clients.length"
          *ngIf="this.clients.length > 5"
          [pageSize]="pageSize"
          [directionLinks]="false"
          [(page)]="page"
          class="w-100"
        >
        </ngb-pagination>
      </div>
    </div>

    <div class="trainer-routines-container-info">
      <div *ngIf="loadingRoutines && selectedClient != null" class="loader"></div>
      <h1 *ngIf="selectedClient != null" class="trainer-routines-container-info-title">
        Routines from <span class="trainer-routines-container-info-title-username">{{selectedClient.displayName}}</span>
      </h1>
      <h1 *ngIf="selectedClient == null" class="trainer-routines-container-info-title">Routines</h1>
      <h2 *ngIf="selectedClient == null" class="trainer-routines-container-info-no-client">No client selected</h2>
      <div class="trainer-routines-container-info-container-actions">
        <button *ngIf="selectedClient != null" class="trainer-routines-container-info-container-actions-button" routerLink="/trainer/routines/add/{{selectedClient.id}}">Add Routine</button>
      </div>
      <h2 *ngIf="routines.length == 0 && selectedClient != null" class="trainer-routines-container-info-no-routines">This user doesn't have any routines</h2>
      <div class="trainer-routines-container-info-container">
        <div class="trainer-routines-container-info-container-routine" *ngFor="let singleRoutine of routines">
          <app-trainer-routine-card [routine]="singleRoutine"></app-trainer-routine-card>
        </div>
      </div>
    </div>
  </div>

  <div class="toast-container">
    <ngb-toast *ngIf="showAddToast" [autohide]="true" (hidden)="showAddToast=false">
      <ng-template ngbToastHeader>
        <div class="me-auto">
          <img src="../../../../../assets/images/FitVerumLogo.png" width="40" height="40"/>
          <strong class="mx-1">FitVerum</strong>
        </div>
      </ng-template>
      Routine added successfully!
    </ngb-toast>
  </div>
</main>

