@import "../../../scss/mixin.scss";
@import "../../../scss/variables.scss";

.content {
  @include flex($direction: column, $justify: center, $align: center, $gap: 0);
  height: calc(95vh - 116px);
  width: 100%;
  background-color: getColor(white);
  padding: 0 2rem;
  @include response(xl) {
    padding: 0 5rem;
  }
}

.register {
  @include response(lg) {
    background-color: getColor(white);
    box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.75);
  }
  z-index: 11;
  border-radius: 0.5rem;
  animation: scale-in-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 30%;
  @include flex($direction: column, $justify: center, $align: center, $gap: 0);

  &-logo-presentation {
    padding-top: 5rem;
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 0.5rem
    );

    &-img {
      @include response(xl) {
        width: 9rem;
        display: block;
      }
      display: none;
    }

    &-text {
      @include response(xl) {
        font-size: getFontSize(xxl);
        display: block;
        font-family: $font-family-title;
        text-transform: uppercase;
        font-weight: getFontWeight(bold);
        transition: $transition;
        cursor: pointer;
      }
      display: none;

      &-first {
        color: getColor(black);
      }

      &-second {
        background-color: getColor(intense-violet);
        background-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.1),
          rgba(255, 255, 255, 0)
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }

  &-title {
    @include response(xl) {
      font-size: getFontSize(xl);
    }
    font-size: getFontSize(lg);
    font-family: $font-family-title;
    font-weight: getFontWeight(bold);
    transition: $transition;
    cursor: pointer;
    padding-bottom: 2rem;
  }

  &-form {
    width: 50%;
    @include flex(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: 2rem
    );

    &-fieldset {
      @include flex(
        $direction: column,
        $justify: center,
        $align: center,
        $gap: 1rem
      );
      border: none;

      &-label {
        @include label();
      }

      &-input-container {
        @include flex(
          $direction: row,
          $justify: center,
          $align: center,
          $gap: 1.5rem
        );

        &-icon {
          font-size: 2.5rem;
          color: getColor(dark-grayish-violet);
          transition: $transition;
          cursor: pointer;
          &:hover {
            color: getColor(intense-violet);
          }

          &-close {
            font-size: 2.3rem;
            color: getColor(dark-grayish-violet);
            transition: $transition;
            cursor: pointer;
            &:hover {
              color: getColor(intense-violet);
            }
          }

          &-not-showing {
            font-size: 2.5rem;
            color: getColor(white);
          }
        }
      }

      &-input {
        @include input();
      }

      &-password-info {
        font-size: getFontSize(xxs);
        text-align: center;
        font-family: $font-family-text;
        font-weight: getFontWeight(bold);
        color: red;
        width: 50%;
        &-under{
          font-size: getFontSize(xxs);
          font-family: $font-family-text;
          color: getColor(dark-grayish-violet);
        }
      }

      &-credentials {
        font-size: getFontSize(sm);
        text-align: center;
        font-family: $font-family-text;
        font-weight: getFontWeight(bold);
        color: red;
      }
    }

    &-button {
      @include response(xl) {
        @include button(lg, true);
      }
      @include button(sm, true);
      align-self: center;
    }
  }

  &-separator {
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 2rem
    );
    width: 100%;
    &-text {
      @include response(xl) {
        font-size: getFontSize(md);
      }
      font-size: getFontSize(sm);
      font-family: $font-family-title;
      font-weight: getFontWeight(bold);
      transition: $transition;
      color: getColor(dark-grayish-violet);
    }

    &-line {
      display: block;
      width: 15rem;
      height: 1px;
      background-color: getColor(dark-grayish-violet);
    }
    padding-top: 2rem;
  }

  &-social {
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 1rem
    );

    padding: 3rem;
    &-button {
      @include flex(
        $direction: row,
        $justify: center,
        $align: center,
        $gap: 0.8rem
      );
      @include response(xl) {
        @include button(md, false);
      }
      @include button(sm, false);
      &-img {
        width: 4rem;
      }
      &-text {
        @include response(xl) {
          font-size: getFontSize(md);
          font-family: $font-family-title;
          font-weight: getFontWeight(bold);
          display: block;
        }
        display: none;
      }
    }
  }
}

@include response(lg) {
  .waves {
    z-index: 10;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url("../../../assets/images/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
