@import "../../../scss/mixin.scss";
@import "../../../scss/variables.scss";

/// Estilos del contenido de la vista de registro
.content {
  @include flex($direction: column, $justify: flex-start, $align: center, $gap: 0);
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  padding: 0 2rem;
  @include response(md){
    height: calc(95vh - 116px);
    @include flex($direction: column, $justify: center, $align: center, $gap: 0);
    padding-top: 6rem;
  }
  @include response(xl) {
    padding: 0 5rem;
    padding-top: 6rem;
  }
  @include response(desktop){
    padding-top: none;
  }
}

/// Estilos para el formulario de registro
.register {
  @include response(lg) {
    background-color: var(--background-color);
    box-shadow: 0px 0px 27px -3px var(--box-shadow-normal);
  }
  z-index: 11;
  border-radius: 0.5rem;
  animation: scale-in-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 30%;
  @include flex($direction: column, $justify: center, $align: center, $gap: 0);

  &-logo-presentation {
    padding-top: 5rem;
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 0.5rem
    );

    &-img {
      @include response(desktop) {
        width: 9rem;
        display: block;
      }
      display: none;
    }

    &-text {
      @include response(desktop) {
        font-size: getFontSize(xl);
        display: block;
        font-family: $font-family-title;
        text-transform: uppercase;
        font-weight: getFontWeight(bold);
        transition: $transition;
        cursor: pointer;
      }
      display: none;

      &-first {
        color: var(--text-color);
      }

      &-second {
        background-color: var(--primary-color);
        background-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.1),
          rgba(255, 255, 255, 0)
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }

  &-title {
    @include response(desktop) {
      font-size: getFontSize(xl);
    }
    font-size: getFontSize(lg);
    font-family: $font-family-title;
    font-weight: getFontWeight(bold);
    transition: $transition;
    padding-bottom: 2rem;
    color: var(--text-color);
    margin: 0;
  }

  &-form {
    width: 50%;
    @include response(dekstop){
      @include flex(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: 2rem
    );
    }
    @include flex(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: 1.5rem
    );

    &-fieldset {
      @include flex(
        $direction: column,
        $justify: center,
        $align: center,
        $gap: 1rem
      );
      border: none;

      &-label {
        @include label();
        margin: 0;
      }

      &-input-container {
        @include flex(
          $direction: row,
          $justify: center,
          $align: center,
          $gap: 1.5rem
        );

        &-icon {
          font-size: 2.5rem;
          color: var(--cuaternary-color);
          transition: $transition;
          cursor: pointer;
          &:hover {
            color: var(--primary-color);
          }

          &-close {
            font-size: 2.3rem;
            color: var(--cuaternary-color);
            transition: $transition;
            cursor: pointer;
            &:hover {
              color: var(--primary-color);
            }
          }

          &-not-showing {
            font-size: 2.5rem;
            color: var(--background-color);
          }
        }
      }

      &-input {
        @include input($size: md);
        @include response(desktop){
          @include input();
        }
      }

      &-password-info {
        font-size: getFontSize(xxs);
        text-align: center;
        font-family: $font-family-text;
        font-weight: getFontWeight(bold);
        color: #e74c3c;
        width: 50%;
        margin: 0;
        &-under{
          font-size: getFontSize(xxs);
          font-family: $font-family-text;
          color: var(--cuaternary-color);
          &-error{
            color: #e74c3c;
            font-size: getFontSize(xxs);
          }
        }
      }

      &-credentials {
        font-size: getFontSize(sm);
        text-align: center;
        font-family: $font-family-text;
        font-weight: getFontWeight(bold);
        color: #e74c3c;
      }
    }

    &-button {
      @include response(desktop) {
        @include button(lg, true, $width: 20rem);
      }
      @include button(sm, true, $width: 20rem);
      align-self: center;
    }
  }

  &-separator {
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 2rem
    );
    width: 100%;
    &-text {
      @include response(desktop) {
        font-size: getFontSize(md);
      }
      font-size: getFontSize(sm);
      font-family: $font-family-title;
      font-weight: getFontWeight(bold);
      transition: $transition;
      color: var(--cuaternary-color);
    }

    &-line {
      display: block;
      width: 15rem;
      height: 1px;
      background-color: var(--cuaternary-color);
    }
    padding-top: 2rem;
    @include response(xl){
      padding-top: 1rem;
    }
    @include response(desktop){
      padding-top: 2rem;
    }
  }

  &-social {
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 1rem
    );
    padding: 3rem;
    @include response(xl){
      padding: 2rem;
    }
    @include response(desktop){
      padding: 3rem;
    }
    &-button {
      @include flex(
        $direction: row,
        $justify: center,
        $align: center,
        $gap: 0.8rem
      );
      @include response(desktop) {
        @include button(md, false, $heigth: 7rem);
      }
      @include button(sm, false, $heigth: 5rem);
      &-img {
        width: 4rem;
      }
      &-text {
        @include response(desktop) {
          font-size: getFontSize(md);
          font-family: $font-family-title;
          font-weight: getFontWeight(bold);
          display: block;
        }
        display: none;
      }
    }
  }
}

@include response(lg) {
  .waves {
    z-index: 10;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url("../../../assets/images/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
