<main class="content">
    <div class="register">
        <div class="register-logo-presentation">
            <img class="register-logo-presentation-img" src="../../assets/images/FitVerumLogo.png" alt="Brand Logo">
            <h1 class="register-logo-presentation-text">
                <span class="register-logo-presentation-text-first">Fit</span>
                <span class="register-logo-presentation-text-second">Verum</span>
            </h1>
        </div>
        <h1 class="register-title">Register</h1>
        <form class="register-form">
            <fieldset class="register-form-fieldset">
                <legend class="register-form-fieldset-label">Username</legend>
                <div class="register-form-fieldset-input-container">
                    <input class="register-form-fieldset-input" type="text" placeholder="User" [(ngModel)]="username" required name="username">
                    <i class="fa-solid fa-eye register-form-fieldset-input-container-icon-not-showing"></i>
                </div>
            </fieldset>
            <fieldset class="register-form-fieldset">
                <legend class="register-form-fieldset-label">Email</legend>
                <div class="register-form-fieldset-input-container">
                    <input class="register-form-fieldset-input" type="email" placeholder="example@email.com" [(ngModel)]="email" required name="email">
                    <i class="fa-solid fa-eye register-form-fieldset-input-container-icon-not-showing"></i>
                </div>
            </fieldset>
            <fieldset class="register-form-fieldset">
                <legend class="register-form-fieldset-label">Password</legend>
                <div class="register-form-fieldset-input-container">
                    <input *ngIf="!showingPassword" class="register-form-fieldset-input" type="password" placeholder="********" [(ngModel)]="password" required (keydown)="onKeyDown($event)" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,32}$" name="password">
                    <input *ngIf="showingPassword" class="register-form-fieldset-input" type="text" placeholder="********" [(ngModel)]="password" required (keydown)="onKeyDown($event)" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,32}$" name="password">
                    <i *ngIf="!showingPassword" class="fa-solid fa-eye register-form-fieldset-input-container-icon" (click)="showPassword()"></i>
                    <i *ngIf="showingPassword" class="fa-solid fa-eye-slash register-form-fieldset-input-container-icon-close" (click)="showPassword()"></i>
                </div>
            </fieldset>
            <p class="register-form-fieldset-credentials">{{this.auth.failedError}}</p>
            <p *ngIf="!passwordCorrect" class="register-form-fieldset-password-info">Password must contain at least 8 characters, 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character.</p>
            <p *ngIf="isEmpty" class="register-form-fieldset-password-info">Fields can't be empty</p>
            <button (click)="normalRegister()" class="register-form-button">
                Register
            </button>
        </form>
        <div class="register-separator">
            <span class="register-separator-line"></span>
            <span class="register-separator-text">or</span>
            <span class="register-separator-line"></span>
        </div>

        <div class="register-social">
            <button (click)="googleRegister()" class="register-social-button">
                <img class="register-social-button-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" alt="Google Logo">
                <span class="register-social-button-text">Register with Google</span>
            </button>
            <button class="register-social-button">
                <img class="register-social-button-img" src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png" alt="Facebook Logo">
                <span class="register-social-button-text">Register with Facebook</span>
            </button>
        </div>
    </div>
    <div class="waves"></div>
</main>

