<footer class="footer">
    <div class="footer-column">
      <h2 class="footer-title">Help</h2>
      <ul class="footer-list">
        <li><a class="footer-link" href="contact.html">Contact</a></li>
        <li><a class="footer-link" href="#">Shipment</a></li>
        <li><a class="footer-link" href="#">Devolutions</a></li>
        <li><a class="footer-link" href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h2 class="footer-title">About Us</h2>
      <ul class="footer-list">
        <li><a class="footer-link" href="about.html">Who we are</a></li>
        <li><a class="footer-link" href="about.html">Work with us</a></li>
        <li><a class="footer-link" href="about.html">Privacity policy</a></li>
        <li><a class="footer-link" href="about.html">Terms and conditions</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h2 class="footer-title">Legal</h2>
      <ul class="footer-list">
        <li><a class="footer-link" href="policy.html">Cookies policy</a></li>
        <li><a class="footer-link" href="policy.html">Privacity policy</a></li>
        <li><a class="footer-link" href="policy.html">Terms and conditions</a></li>
        <li><a class="footer-link" href="policy.html">Legal Terms</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h2 class="footer-title">Company information</h2>
      <ul class="footer-list">
        <li class="footer-list-row">
          <i class="fa-solid fa-location-dot footer-icon"></i><p class="footer-link-row">Avenida Barcelona Nº7 Granada</p>
        </li>
        <li class="footer-list-row">
          <i class="fa-solid fa-phone footer-icon"></i><p class="footer-link-row">+34 675 876 902</p>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <h2 class="footer-title">Follow Us</h2>
      <ul class="footer-row footer-list">
        <li>
          <a href="https://www.instagram.com/luxhouse/" target="_blank"><i class="fab fa-instagram footer-icon"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/luxhouse" target="_blank"><i class="fab fa-facebook-f footer-icon"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/luxhouse" target="_blank"><i class="fab fa-twitter footer-icon"></i></a>
        </li>
      </ul>
    </div>
  </footer>