<footer class="footer">
    <div class="footer-column">
      <h2 class="footer-title">{{"FOOTER.HELP" | translate}}</h2>
      <ul class="footer-list">
        <li><a class="footer-link" href="contact.html">{{"FOOTER.CONTACT" | translate}}</a></li>
        <li><a class="footer-link" href="#">{{"FOOTER.FAQ" | translate}}</a></li>
        <li><a class="footer-link" href="#">{{"FOOTER.FORUM" | translate}}</a></li>
        <li><a class="footer-link" href="#">{{"FOOTER.SUGGESTIONS" | translate}}</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h2 class="footer-title">{{"FOOTER.ABOUT-US" | translate}}</h2>
      <ul class="footer-list">
        <li><a class="footer-link" routerLink="/about-us">{{"FOOTER.WHO-WE-ARE" | translate}}</a></li>
        <li><a class="footer-link" href="about.html">{{"FOOTER.WORK-WITH-US" | translate}}</a></li>
        <li><a class="footer-link" href="about.html">{{"FOOTER.PRIVACY-POLICY" | translate}}</a></li>
        <li><a class="footer-link" href="about.html">{{"FOOTER.TERMS-OF-USE" | translate}}</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h2 class="footer-title">{{"FOOTER.LEGAL" | translate}}</h2>
      <ul class="footer-list">
        <li><a class="footer-link" href="policy.html">{{"FOOTER.COOKIES-POLICY" | translate}}</a></li>
        <li><a class="footer-link" href="policy.html">{{"FOOTER.PRIVACY-POLICY" | translate}}</a></li>
        <li><a class="footer-link" href="policy.html">{{"FOOTER.TERMS-OF-USE" | translate}}</a></li>
        <li><a class="footer-link" href="policy.html">{{"FOOTER.LEGAL-TERMS" | translate}}</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h2 class="footer-title">{{"FOOTER.COMPANY-INFORMATION" | translate}}</h2>
      <ul class="footer-list">
        <li class="footer-list-row">
          <i class="fa-solid fa-location-dot footer-icon"></i><p class="footer-link-row">Avenida Barcelona Nº7 Granada</p>
        </li>
        <li class="footer-list-row">
          <i class="fa-solid fa-phone footer-icon"></i><p class="footer-link-row">+34 675 876 902</p>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <h2 class="footer-title">{{"FOOTER.FOLLOW-US" | translate}}</h2>
      <ul class="footer-row footer-list">
        <li>
          <a href="https://www.instagram.com/fitverum" target="_blank"><i class="fab fa-instagram footer-icon"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/fitverum" target="_blank"><i class="fab fa-facebook-f footer-icon"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/fitverum" target="_blank"><i class="fab fa-twitter footer-icon"></i></a>
        </li>
      </ul>
    </div>
  </footer>
