@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

/// Estilos del contenido de la vista de calendario
.content{
  @include response(desktop){
    height: calc(100vh - 112px);
  }
  height: 110vh;
}

::ng-deep span.cal-day-number {
  color: var(--primary-color);
  font-family: $font-family-title !important;
  font-size: 5rem !important;
}

::ng-deep .cal-week-view {
  background-color: var(--background-color);
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

::ng-deep .cal-week-view .cal-day-cell {
  min-height: 15rem;
}

::ng-deep .cal-hour-segment {
  cursor: pointer;
  transition: $transition;
  &:hover {
    color: var(--background-color);
    background-color: var(--secondary-color) !important;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    ) !important;
  }
}

::ng-deep .cal-hour-odd {
  background-color: var(--gray) !important;
}

::ng-deep .cal-past,
::ng-deep .cal-future,
::ng-deep .cal-today {
  @include response(xl) {
    font-size: getFontSize(xxl);
  }
  color: var(--text-color) !important;
  font-family: $font-family-title !important;
  font-size: getFontSize(sm) !important;
}

::ng-deep .cal-week-view .cal-header.cal-today{
  background-color: var(--primary-color) !important;
}

::ng-deep .cal-week-view .cal-header.cal-weekend span {
  color: getColor(red);
}

::ng-deep .cal-time {
  color: var(--text-color);
  font-family: $font-family-title !important;
  font-size: 1.5rem !important;
}

::ng-deep .cal-event {
  @include flex(
    $direction: column,
  );
}

::ng-deep .cal-event-title {
  color: getColor(text);
  font-family: $font-family-title !important;
  font-size: 1.75rem !important;
  width: 100% !important;
}

::ng-deep mwl-calendar-event-title{
  color: getColor(text);
  font-family: $font-family-title !important;
  font-size: 1.75rem !important;
  width: 100% !important;
}

::ng-deep .cal-current-time-marker {
  background-color: var(--primary-color) !important;
}

/// Botones de control para pasar de mes
.calendar-controls {
  margin-bottom: 5rem !important;
  @include response(md) {
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 20rem
    );
  }

  @include flex(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 5rem
  );
  padding: 2rem;

  &-month {
    @include response(xl) {
      font-size: getFontSize(xxl);
    }
    font-size: getFontSize(lg);
    font-family: $font-family-title;
    font-weight: getFontWeight(bold);
    transition: $transition;
    color: var(--primary-color);
    text-align: center;
  }

  &-button {
    @include response(xl) {
      @include button(xl, true, 20rem);
    }
    @include button(md, true, 15rem);
  }
}

.modal {
  @include modal();
}

.no-description-message{
  @include response(xl) {
    font-size: getFontSize(lg);
  }
  font-size: getFontSize(sm);
  font-family: $font-family-title;
  font-weight: getFontWeight(bold);
  color: var(--cuaternary-color);
  text-align: center;
  margin-bottom: 1rem;
}


.fa-x{
  color: var(--primary-color);
  font-size: getFontSize(xl);
  transition: $transition;
  padding-right: 1rem;
  cursor: pointer;
  &:hover{
    color: var(--secondary-color);
  }
}

 ::ng-deep .modal-content {
  background-color: var(--background-color) !important;
  box-shadow: 0px 0px 30px 0px  var(--box-shadow-thin) !important;
}
