@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";


/// Estilos del mensaje individual del foro
.message-container{
  width: 95%;
  word-break: break-all;
  @include flex($direction: column, $justify: flex-start, $align: flex-start, $gap: 2rem);
  &-with-delete{
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 1fr;
    box-shadow: 0 0.5rem 1rem var(--box-shadow-thin);
    border-radius: 1rem;
    width: 95%;
    word-break: break-all;
    @include response(md){
      margin: 5rem;
    }
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    border-radius: 1rem;
  }
  box-shadow: 0 0.5rem 1rem var(--box-shadow-thin);
  @include response(md){
    margin: 5rem;
  }
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 1rem;
  border-radius: 1rem;


  &-admin{
    &-with-delete{
      @include response(md){
        margin: 5rem;
      }
      margin-top: 5rem;
      margin-bottom: 5rem;
      margin-left: 1rem;
      border-radius: 1rem;
      display: grid;
      grid-template-columns: 1fr 0.1fr;
      grid-template-rows: 1fr;
      box-shadow: 0 0.5rem 1rem var(--box-shadow-thin);
      background-color: var(--tertiary-color);
      width: 95%;
      word-break: break-all;

      &-header-info-name-text{
        color: white;
        margin: 0;
        @include response(md){
          font-size: getFontSize(md);
          }
        font-size: getFontSize(xxs);
        font-family: $font-family-title;
      }
      &-header-info-date{
        margin: 0;
        font-size: getFontSize(xxs);
        color: white;
        font-family: $font-family-title;
      }

      &-content-text{
        margin: 0;
        @include response(md){
          font-size: getFontSize(md);
        }
        font-size: getFontSize(xxs);
        color: white;
        padding: 0 2.5rem;
        padding-bottom: 2rem;
        font-family: $font-family-text;
      }
    }
    @include flex($direction: column, $justify: flex-start, $align: flex-start, $gap: 3rem);
    box-shadow: 0 0.5rem 1rem var(--box-shadow-thin);
    @include response(md){
      margin: 5rem;
    }
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    border-radius: 1rem;
    background-color: var(--tertiary-color);
    width: 95%;
    word-break: break-all;
    &-header-info-name-text{
      color: white;
      margin: 0;
      @include response(md){
        font-size: getFontSize(md);
        }
      font-size: getFontSize(xxs);
      font-family: $font-family-title;
    }
    &-header-info-date{
      margin: 0;
      font-size: getFontSize(xxs);
      color: white;
      font-family: $font-family-title;
    }

    &-content-text{
      margin: 0;
      @include response(md){
        font-size: getFontSize(md);
      }
      font-size: getFontSize(xxs);
      color: white;
      padding: 0 2.5rem;
      padding-bottom: 2rem;
      font-family: $font-family-text;
    }
  }



  &-header{
    grid-area: 1 / 1 / 2 / 2;
    @include flex($direction: row, $justify: flex-start, $align: center, $gap: 1rem);
    &-img{
      @include response(xl){
        width: 7.5rem;
        height: 7.5rem;
      }
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      object-fit: cover;
      margin: 1rem;
      &-admin{
        @include response(xl){
          width: 8.5rem;
          height: 8.5rem;
        }
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        object-fit: cover;
        margin: 1rem;
      }
    }
    &-info{
      @include flex($direction: column, $justify: center, $align: flex-start, $gap: 0.5rem);
      &-name{
        @include flex($direction: row, $justify: flex-start, $align: center, $gap: 1rem);
        &-text{
          margin: 0;
          @include response(md){
            font-size: getFontSize(md);
          }
          font-size: getFontSize(xxs);
          color: var(--text-color);
          font-family: $font-family-title;
        }
        &-icon{
          &-star{
            @include response(xl){
              font-size: getFontSize(md);
              color: yellow
            }
            font-size: getFontSize(sm);
            color: yellow
          }
          &-dumbbell{
            @include response(xl){
              font-size: getFontSize(md);
              color: green;
            }
            font-size: getFontSize(sm);
            color: green;
          }
        }
      }
      &-date{
        margin: 0;
        font-size: getFontSize(xxs);
        color: var(--text-color);
        font-family: $font-family-title;
      }
    }
  }
  &-content-text{
    margin: 0;
    @include response(md){
      font-size: getFontSize(md);
    }
    font-size: getFontSize(xxs);
    color: var(--text-color);
    padding: 0 2rem;
    padding-bottom: 2rem;
    font-family: $font-family-text;
  }
  &-icon-container{
    grid-area: 1 / 2 / 3 / 3;
    @include flex($direction: column, $justify: center, $align: center);
    &-icon{
      @include response(xl){
        font-size: getFontSize(xl);
      }
      font-size: getFontSize(lg);
      color: getColor(red);
      margin: 1rem;
      transition: $transition;
      cursor: pointer;
      &:hover{
        color: #c0392b;
        scale: 1.1;
        transition: $transition;
      }
    }
  }
}

.modal {
  @include modal();
}

.fa-x{
  color: var(--primary-color);
  font-size: getFontSize(xl);
  transition: $transition;
  padding-right: 1rem;
  cursor: pointer;
  &:hover{
    color: var(--secondary-color);
  }
}

 ::ng-deep .modal-content {
  background-color: var(--background-color) !important;
  box-shadow: 0px 0px 30px 0px  var(--box-shadow-thin) !important;
}

::ng-deep .modal-header {
  border-bottom: none;
}

::ng-deep .modal-footer {
  border-top: none;
}
