<header class="header">
    <div class="logo">
      <a routerLink="/">
        <img class="logo-img" src="../../assets/images/FitVerumLogo.png" alt="Brand Logo">
      </a>
      <a routerLink="/">
        <h1 class="logo-text">
            <span class="logo-text-first">Fit</span>
            <span class="logo-text-second">Verum</span>
        </h1>
      </a>
    </div>
    <nav class="header-nav open">
        <div class="header-nav-hamburger">
          <div class="header-nav-hamburger-lines">
              <span class="header-nav-hamburger-lines-line header-nav-hamburger-lines-line-1"></span>
              <span class="header-nav-hamburger-lines-line header-nav-hamburger-lines-line-2"></span>
              <span class="header-nav-hamburger-lines-line header-nav-hamburger-lines-line-3"></span>
          </div> 
      </div>
        <ul class="header-nav-list">
            <li class="header-nav-item"><a class="header-nav-link" routerLink="/">Home</a></li>
            <li class="header-nav-item"><a class="header-nav-link" href="about.html">Activities</a></li>
            <li class="header-nav-item"><a class="header-nav-link" href="results.html">Houses</a></li>
            <li class="header-nav-item"><a class="header-nav-link" href="contact.html">Contact</a></li>
            <a class="header-nav-button-not-focus" routerLink="/login">Sign In</a>
            <a class="header-nav-button-focus" routerLink="/register">Register</a>
        </ul>
    </nav>
</header>