<header class="header">
    <div class="logo" routerLink="/">
        <img class="logo-img" src="../../assets/images/FitVerumLogo.png" alt="Brand Logo">
      <a routerLink="/">
        <h1 class="logo-text">
            <span class="logo-text-first">Fit</span>
            <span class="logo-text-second">Verum</span>
        </h1>
      </a>
    </div>
    <nav class="header-nav">
        <div class="header-nav-hamburger">
          <div class="header-nav-hamburger-lines">
              <span class="header-nav-hamburger-lines-line header-nav-hamburger-lines-line-1"></span>
              <span class="header-nav-hamburger-lines-line header-nav-hamburger-lines-line-2"></span>
              <span class="header-nav-hamburger-lines-line header-nav-hamburger-lines-line-3"></span>
          </div>
      </div>
        <!-- <ul class="header-nav-list" *ngIf="this.auth.loaded && this.auth.checked || this.auth.userID == ''"> -->
          <ul class="header-nav-list">
            <li class="header-nav-item"><a class="header-nav-link" routerLink="/">{{"HEADER.NAVBAR.HOME" | translate}}</a></li>
            <li *ngIf="!this.auth.isLogged" class="header-nav-item"><a class="header-nav-link" routerLink="/about-us">{{"HEADER.NAVBAR.ABOUT" | translate}}</a></li>
            <li *ngIf="this.auth.isLogged && !this.auth.isAdmin && !this.auth.isTrainer" class="header-nav-item"><a class="header-nav-link" routerLink="/user/calendar">{{"HEADER.NAVBAR.ACTIVITIES" | translate}}</a></li>
            <li *ngIf="this.auth.isLogged && !this.auth.isAdmin && !this.auth.isTrainer" class="header-nav-item"><a class="header-nav-link" routerLink="/user/routines">{{"HEADER.NAVBAR.MY-ROUTINES" | translate}}</a></li>
            <li *ngIf="this.auth.isLogged && !this.auth.isAdmin && !this.auth.isTrainer" class="header-nav-item"><a class="header-nav-link" routerLink="/user/diets">{{"HEADER.NAVBAR.MY-DIETS" | translate}}</a></li>
            <li *ngIf="this.auth.isLogged && this.auth.isTrainer" class="header-nav-item"><a class="header-nav-link" routerLink="/trainer/calendar">{{"HEADER.NAVBAR.MANAGEMENT" | translate}}</a></li>
            <li *ngIf="this.auth.isLogged && this.auth.isTrainer" class="header-nav-item"><a class="header-nav-link" routerLink="/trainer/clients">{{"HEADER.NAVBAR.CLIENTS" | translate}}</a></li>
            <li *ngIf="this.auth.isLogged && this.auth.isTrainer" class="header-nav-item"><a class="header-nav-link" routerLink="/trainer/routines">{{"HEADER.NAVBAR.ROUTINES" | translate}}</a></li>
            <li *ngIf="this.auth.isLogged && this.auth.isTrainer" class="header-nav-item"><a class="header-nav-link" routerLink="/trainer/diets">{{"HEADER.NAVBAR.DIETS" | translate}}</a></li>
            <li *ngIf="this.auth.isLogged && this.auth.isAdmin" class="header-nav-item"><a class="header-nav-link" routerLink="/administration/users">{{"HEADER.NAVBAR.USERS" | translate}}</a></li>
            <li *ngIf="this.auth.isLogged && this.auth.isAdmin" class="header-nav-item"><a class="header-nav-link" routerLink="/administration/machines">{{"HEADER.NAVBAR.MACHINES" | translate}}</a></li>
            <li class="header-nav-item"><a class="header-nav-link" routerLink="/forum">{{"HEADER.NAVBAR.FORUM" | translate}}</a></li>
            <div class="header-nav-list-actions">
              <select #langSelect class="header-nav-icon" (change)="changeLanguage($event)">
                <option value="en" *ngIf="this.language == 'en' || this.language == null" selected>🇬🇧</option>
                <option value="es"*ngIf="this.language == 'en' || this.language == null">🇪🇸</option>
                <option value="en" *ngIf="this.language == 'es'">🇬🇧</option>
                <option value="es" *ngIf="this.language == 'es'" selected>🇪🇸</option>
              </select>
              <img *ngIf="this.auth.isLogged && this.auth.userPhoto != null && !this.auth.isAdmin" [src]="this.auth.userPhoto" referrerpolicy="no-referrer" width="50" height="50" class="header-user-img">
              <img *ngIf="this.auth.isLogged && this.auth.userPhoto == null && !this.auth.isAdmin" src="https://firebasestorage.googleapis.com/v0/b/fitverum.appspot.com/o/default-user.png?alt=media&token=938b94bc-1a96-4cfd-9cec-7c97da53e3ce" width="50" height="50" class="header-user-img">
              <img *ngIf="this.auth.isLogged && this.auth.isAdmin" src="../../../assets/images/FitVerumLogo.png" width="50" height="50" class="header-user-img">
              <p class="user-type" *ngIf="this.auth.isLogged && this.auth.isAdmin">(Admin)</p>
              <p class="user-type" *ngIf="this.auth.isLogged && this.auth.isTrainer">{{"HEADER.NAVBAR.TRAINER" | translate}}</p>
              <i class="header-nav-icon dark-toggler fa-solid fa-moon" title="Change Theme"></i>
              <i (click)="logout()" *ngIf="this.auth.isLogged" class="header-nav-icon fa-solid fa-right-to-bracket" title="Log Out"></i>
              <i *ngIf="this.auth.isLogged && !this.auth.isAdmin && !this.auth.isTrainer" class="header-nav-icon fa-solid fa-gear close" title="Edit User" routerLink="/user/modification"></i>
              <i *ngIf="this.auth.isLogged && !this.auth.isAdmin && this.auth.isTrainer" class="header-nav-icon fa-solid fa-gear close" title="Edit User" routerLink="/trainer/modification"></i>
            </div>
            <div class="header-nav-list-buttons">
              <a *ngIf="!this.auth.isLogged" class="header-nav-button-not-focus" routerLink="/login">{{"HEADER.NAVBAR.SINGIN" | translate}}</a>
              <a *ngIf="!this.auth.isLogged" class="header-nav-button-focus" routerLink="/register">{{"HEADER.NAVBAR.REGISTER" | translate}}</a>
            </div>
        </ul>
    </nav>
    <div id="header-wave" class="waves"></div>
</header>
