@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

.content{
  @include response(md){
    height: calc(100vh - 112px);
  }
  height: auto;
}

.user-administration-header {
  @include view_header();
  padding-top: 4rem;
  margin: 0;
}

.users-trainers-container {
  @include response(xl) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  @include flex($direction: column, $justify: center, $align: center);
  &-users {
    @include response(xl) {
      border-right: 2px solid var(--tertiary-color);
    }
  }
  &-users, &-trainers {
    @include flex($direction: column, $justify: flex-start, $align: center);
    height: 100%;
    width: 100%;
    @include response(xl) {
      margin-top: 7rem;
    }
    margin-top: 4rem;

    &-title {
      @include view_header(4.5rem);
      margin-bottom: 2rem;
    }

    &-container {
      @include flex($direction: row, $justify: center, $align: center);
      &-table {
        @include response(lg){
          width: 50%;
        }
        width: 95%;
        border-collapse: separate;
        table-layout: fixed;
        @include response(xl) {
          border-spacing: 3rem;
        }
        border-spacing: 2rem;
        tr {
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          border-radius: 1rem;
          cursor: pointer;
          width: 100%;
          transition: $transition;
          @include flex($direction: row, $justify: flex-start, $align: center);

          &:hover {
            transform: translateY(-0.5rem);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            transition: $transition;
          }
          margin-bottom: 3rem;
          overflow: hidden;
        }
        &-user, &-trainer {
          width: 100%;
          &-img {
            @include response(lg) {
              width: 7.5rem;
              height: 7.5rem;
              margin: 1rem;
            }
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            object-fit: cover;
            margin: 0.5rem;
          }
          &-name {
            @include response(lg) {
              font-size: getFontSize(lg);
              padding-left: 2rem;
            }
            font-size: getFontSize(sm);
            font-family: $font-family-title;
            font-weight: getFontWeight(bold);
            color: var(--text-color);
            flex: 1;
            overflow: hidden;
          }
          &-icon {
            @include response(lg) {
              font-size: getFontSize(lg);
              padding-right: 2rem;
              padding-left: 2rem;
            }
            font-size: getFontSize(sm);
            color: var(--primary-color);
            cursor: pointer;
            transition: $transition;
            &:hover {
              color: red;
            }
            border: none;
            background-color: var(--background-color);
            padding-right: 1rem;
            padding-left: 1rem;
          }
          &-button {
            width: 100%;
            height: 10rem;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            background-image: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0.1),
              rgba(255, 255, 255, 0)
            );
            @include response(lg) {
              font-size: getFontSize(xl);
            }
            font-size: getFontSize(md);
            transition: $transition;
            padding: 1rem 1rem 1rem 1rem;
            text-decoration: none;
            background-color: var(--primary-color);
            color: var(--background-color);
            border: none;
            &-left {
              height: 10rem;
              border-top-left-radius: 1rem;
              border-bottom-left-radius: 1rem;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.1),
                rgba(255, 255, 255, 0)
              );
              @include response(lg) {
                font-size: getFontSize(xl);
              }
              font-size: getFontSize(md);
              transition: $transition;
              padding: 1rem 1rem 1rem 1rem;
              text-decoration: none;
              background-color: var(--primary-color);
              color: var(--background-color);
              border: none;


              &-name{
                @include response(xl) {
                  font-size: getFontSize(lg);
                  padding-right: 2rem;
                  padding-left: 2rem;
                }
                font-size: getFontSize(sm);
                font-family: $font-family-title;
                font-weight: getFontWeight(bold);
                color: var(--text-color);
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
  ::ng-deep .pagination {
    margin-top: 1rem;
    justify-content: center;
    // Al venir de un componente de terceros, no se puede usar el @include ni las variables de sass propias
    --bs-pagination-color: var(--text-color);
    --bs-pagination-hover-color: var(--primary-color);
    --bs-pagination-active-bg: #6a69dc;
    --bs-pagination-active-border-color: var(--text-color);
    --bs-pagination-font-size: 2rem;
    --bs-pagination-padding-x: 1.5rem;
    --bs-pagination-padding-y: 0.75rem;
    --bs-pagination-focus-box-shadow: none;
    --bs-pagination-bg: var(--background-color);
  }

  .no-trainers-message,
  .no-users-message {
    font-size: 2rem;
    font-family: $font-family-title;
    font-weight: getFontWeight(bold);
    color: var(--text-color);
    margin-bottom: 2rem;
    text-align: center;
  }
}

.loader {
  @include loader(35vh, 38vw);
}

::ng-deep .tooltip {
  @include response(xl) {
    font-size: getFontSize(xs);
  }
  font-size: getFontSize(xxs);
}
