<main class="content">
  <h1 class="title">FAQ</h1>
  <div ngbAccordion>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>{{"FAQ.Q1" | translate}}</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            {{"FAQ.A1" | translate}}
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>{{"FAQ.Q2" | translate}}</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            {{"FAQ.A2-1" | translate}}<a href="/contact">contact</a>{{"FAQ.A2-2" | translate}}
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{"FAQ.Q3" | translate}}</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            {{"FAQ.A3" | translate}}
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>{{"FAQ.Q4" | translate}}</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            {{"FAQ.A4" | translate}}
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
