@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

.content{
  @include response(md){
    height: calc(100vh - 112px);
  }
  height: auto;
}

.trainers-clients-header {
  padding-top: 5rem;
  @include view_header();
}

.trainers-clients-container {
  @include response(lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  @include flex($direction: column, $justify: center, $align: center);

  &-users {
    @include flex($direction: column, $justify: flex-start, $align: center);
    height: 100%;
    width: 100%;
  }

  &-users-border{
    margin-top: 7rem;
    @include response(lg) {
      border-right: 2px solid var(--tertiary-color);
    }
    @include flex($direction: column, $justify: flex-start, $align: center);
    height: 100%;
    width: 100%;
  }
  &-users,
  &-clients {
    margin-top: 7rem;
    &-title {
      @include view_header(3rem);
      margin-bottom: 2rem;
    }
    &-container {
      @include flex($direction: row, $justify: center, $align: center);
      &-table {
       @include response(lg){
          width: 45%;
        }
        width: 85%;
        border-collapse: separate;
        table-layout: fixed;
        @include response(xl) {
          border-spacing: 3rem;
        }
        border-spacing: 2rem;
        tr {
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          border-radius: 1rem;
          cursor: pointer;
          width: 100%;
          transition: $transition;
          @include flex($direction: row, $justify: flex-start, $align: center);
          &:hover {
            transform: translateY(-0.5rem);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            transition: $transition;
          }
          margin-bottom: 3rem;
          overflow: hidden;
        }
        &-user, &-client {
          &-img {
            @include response(xl) {
              width: 7.5rem;
              height: 7.5rem;
              margin: 1rem;
            }
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            object-fit: cover;
            margin: 0.5rem;
          }
          &-name {
            @include response(xl) {
              font-size: getFontSize(xl);
            }
            font-size: getFontSize(md);
            font-family: $font-family-title;
            font-weight: getFontWeight(bold);
            color: var(--text-color);
            width: 50%;
            padding-left: 2rem;
            flex: 1;
          }
          &-button {
            width: 100%;
            height: 10rem;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            background-image: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0.1),
              rgba(255, 255, 255, 0)
            );
            @include response(xl) {
              font-size: getFontSize(xl);
            }
            font-size: getFontSize(lg);
            transition: $transition;
            padding: 1rem 1rem 1rem 1rem;
            text-decoration: none;
            background-color: var(--primary-color);
            color: white;
            border: none;
            &-left {
              width: 100%;
              height: 10rem;
              border-top-left-radius: 1rem;
              border-bottom-left-radius: 1rem;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              background-image: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.1),
                rgba(255, 255, 255, 0)
              );
              font-size: getFontSize(xl);
              transition: $transition;
              padding: 1rem 1rem 1rem 1rem;
              text-decoration: none;
              background-color: var(--primary-color);
              color: white;
              border: none;


              &-name{
                @include response(xl) {
                  font-size: getFontSize(xl);
                }
                font-size: getFontSize(md);
                font-family: $font-family-title;
                font-weight: getFontWeight(bold);
                color: var(--text-color);
                padding-right: 2rem;
                padding-left: 2rem;
                flex: 1;
              }

              &-img {
                @include response(xl) {
                  width: 7.5rem;
                  height: 7.5rem;
                  margin: 1rem;
                  margin-left: 2rem;
                }
                width: 5.5rem;
                height: 5.5rem;
                border-radius: 50%;
                border: 2px solid white;
                object-fit: cover;
                margin: 0.5rem;
                margin-left: 1rem;
              }
            }
          }
        }
      }
    }
  }
  ::ng-deep .pagination {
    margin-top: 1rem;
    justify-content: center;
    // Al venir de un componente de terceros, no se puede usar el @include ni las variables de sass propias
    --bs-pagination-color: var(--text-color);
    --bs-pagination-hover-color: var(--primary-color);
    --bs-pagination-active-bg: #6a69dc;
    --bs-pagination-active-border-color: #6a69dc;
    --bs-pagination-font-size: 2rem;
    --bs-pagination-padding-x: 1.5rem;
    --bs-pagination-padding-y: 0.75rem;
    --bs-pagination-focus-box-shadow: none;
  }

  .no-clients-message,
  .no-users-message {
    font-size: 2rem;
    font-family: $font-family-title;
    font-weight: getFontWeight(bold);
    color: var(--text-color);
    margin-bottom: 2rem;
    text-align: center;
  }
}

.loader {
  @include loader(40vh, 38vw);
}

::ng-deep .tooltip {
  @include response(xl) {
    font-size: getFontSize(xs);
  }
  font-size: getFontSize(xxs);
}
