@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

.content{
  @include response(md){
    height: calc(100vh - 112px);
  }
  height: auto;
}

.exercise-title{
    @include view_header();
    &-no-exercise{
      @include view_header(3rem);
      color: var(--text-color);
    }

    &-span{
      color: var(--text-color);
    }
}

.exercise-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 7rem;
    padding: 5rem;
}

.breadcrumbs{
  @include breadcrumbs(5rem);
}
