<main class="content">
  <h1 *ngIf="!loadingRoutines" class="exercise-title"><span class="exercise-title-span" *ngIf="!loadingTitle">{{routineName}}</span> {{"USERS.ROUTINES.EXERCISES" | translate}}</h1>
  <div *ngIf="!loadingRoutines" class="breadcrumbs">
    <a class="breadcrumbs-item" routerLink="/user/calendar">{{"USERS.ROUTINES.CALENDAR" | translate}}</a>
    <p class="breadcrumbs-item"> > </p>
    <a class="breadcrumbs-item" routerLink="/user/calendar/{{date}}">{{"USERS.ROUTINES.ROUTINES" | translate}}</a>
    <p class="breadcrumbs-item"> > </p>
    <a class="breadcrumbs-item">{{routineName}}</a>
  </div>
  <h2 class="exercise-title-no-exercise" *ngIf="!exercises.length && !loadingRoutines">{{"USERS.ROUTINES.NO-EXERCISES" | translate}}</h2>
  <div class="exercise-container" *ngIf="!loadingRoutines">
      <app-simple-exercise-card  *ngFor="let singleExercise of exercises" [exercise]="singleExercise" [goToEntry]="true"></app-simple-exercise-card>
  </div>
</main>
