<img class="routine-img" [src]="routine.photoURL"alt="Routine Image"/>
<h2 class="routine-title">{{ routine.title }}</h2>
<div class="routine-actions">
  <button class="routine-actions-button-delete" (click)="deleteRoutine(routine.id, routine.photoURL)">
    <i class="fa-solid fa-trash"></i>
  </button>
  <button class="routine-actions-button-edit" routerLink="/administration/routines/edit/{{ routine.id }}">
    <i class="fa-solid fa-pen-to-square"></i>
  </button>
  <button class="routine-actions-button-show" routerLink="/administration/routines/show/{{ routine.id }}">
    <i class="fa-solid fa-circle-info"></i>
  </button>
</div>
