@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

.title{
    @include view_header(5rem);
    font-family: $font-family-title;
    margin-bottom: 7rem;
}

.trainer-info{
    @include flex($direction: row, $justify: center, $align: center, $gap: 10rem);

    &-img-container{
        @include flex($direction: row, $justify: center, $align: center);
        &-img{
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &-container{
        @include flex($direction: column, $justify: center, $align: flex-start);
        &-name{
            @include view_header(4rem);
            font-family: $font-family-title;
            color: getColor(black);
        }
        &-membership{
            font-size: getFontSize(md);
            font-family: $font-family-text;
            color: getColor(black);
            font-weight: getFontWeight(normal);
        }
    }
}

.loader{
    @include loader();
}
