@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";


/// Estilos del contenido de la vista modificar entrenador
.content{
  @include response(md){
    height: 120vh;
  }
  @include response(xl){
    height: 110vh;
  }
  height: auto;
}

/// Estilo del título
.title {
  @include view_header(5rem);
  font-family: $font-family-title;
  padding-bottom: 7rem;
  padding-top: 5rem;
}

/// Estilo del contenedor de la información del entrenador
.trainer-info {
  @include response(xl) {
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 10rem
    );
  }

  @include flex(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 5rem
  );

  &-img-container {
    @include flex($direction: row, $justify: center, $align: center);
    &-img {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &-container {
    @include response(xl) {
      @include flex($direction: column, $justify: center, $align: flex-start);
    }
    @include flex($direction: column, $justify: center, $align: center);
    &-name {
      @include view_header(4rem);
      font-family: $font-family-title;
      color: var(--text-color);
    }
    &-email {
      font-size: getFontSize(md);
      font-family: $font-family-text;
      color: var(--text-color);
      font-weight: getFontWeight(normal);
    }
    &-membership {
      font-size: getFontSize(sm);
      font-family: $font-family-text;
      color: var(--text-color);
      font-weight: getFontWeight(normal);
    }
    &-btn{
      @include button($size: md, $border-radius: 1rem, $focus: true);
      background-color: #e74c3c;
      border: none;
      color: white;
      transition: $transition;
      &:hover{
        background-color: #c0392b;
        transition: $transition;
        color: white;
      }
    }
  }
}

/// Estilo del formulario de modificación de datos
.change-data {
  @include flex(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 10rem
  );
  margin-bottom: 5rem;

  &-password,
  &-name {
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 5rem
    );
    @include response(xl) {
      @include flex(
        $direction: row,
        $justify: center,
        $align: center,
        $gap: 5rem
      );
    }

    @include flex(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: 2rem
    );

    &-input {
      @include input();
    }
  }
  &-title {
    margin-top: 10rem;
    @include view_header(3rem);
    font-family: $font-family-title;
    margin-bottom: 5rem;
  }

  &-btn {
    @include response(xl) {
      @include button($size: xl, $focus: true);
    }
    @include button($size: md, $focus: true);
    margin-bottom: 5rem;
  }

  &-img {
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 2rem
    );

    @include input();
    &-add-img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }

    &-uploaded-img {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      object-fit: cover;
    }

    &-label {
      color: var(--cuaternary-color);
      transition: $transition;
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
      }
    }

    &-input {
      display: none;
    }
  }
}

/// Estilo de los mensajes de error
.error-message {
  @include view_header(2rem);
  font-family: $font-family-text;
  color: white;
  margin-top: 5rem !important;
  background-color: #e74c3c;
  border-radius: 10rem;
  width: 20%;
  text-align: center;
  margin: 0 auto;
}

/// Estilo de los mensajes de éxito
.success-message {
  @include view_header(2rem);
  font-family: $font-family-text;
  color: white;
  margin-top: 5rem !important;
  background-color: green;
  border-radius: 10rem;
  width: 20%;
  text-align: center;
  margin: 0 auto;
}

.loader{
  @include loader(40vh, 38vw);
}


/// Estilo del mensaje de inicio de sesión con terceros
.thirdPartyLoginMessage{
  @include view_header(2rem);
  color: var(--cuaternary-color);
  margin-top: 5rem;
}
