@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

/// Estilos del contenido de la vista de citas de entrenador
.content{
  height: 230vh;
  @include response(md){
    height: 125vh;
  }
  @include response(lg){
    height: 110vh;
  }
  @include response(desktop){
    height: calc(100vh - 112px);
  }
}

/// Estilos de las migas de pan
.breadcrumbs{
  @include breadcrumbs();
}

/// Estilos del contendor de las citas
.appointment-container {
  @include response(xl){
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 1fr;
  }

  @include flex(
    $direction: column,
    $justify: center,
    $align: center,
  );

  &-clients {
    @include response(xl){
      border-right: 1px solid var(--tertiary-color);
      height: calc(100vh - 126.797px - 10rem);
    }
    margin-top: 5rem;
    grid-area: 1 / 1 / 2 / 2;
    &-title {
      @include view_header(4rem);
      margin-bottom: 2rem;
    }
    &-table {
      width: 100%;
      border-collapse: separate;
      @include response(xl) {
        border-spacing: 3rem;
      }
      border-spacing: 2rem;
      tr {
        box-shadow: 0 0.5rem 1rem var(--box-shadow-thin);
        border-radius: 1rem;
        cursor: pointer;
        transition: $transition;
        &:hover {
          transform: translateY(-0.5rem);
          box-shadow: 0 1rem 2rem var(--box-shadow-thin);
          transition: $transition;
        }
      }

      tr.selected{
        box-shadow: 0 0.5rem 1rem getColor(green);
        border-radius: 1rem;
        cursor: pointer;
        transition: $transition;
        &:hover {
          transform: translateY(-0.5rem);
          box-shadow: 0 1rem 2rem getColor(green);
          transition: $transition;
        }
      }
      &-client {
        &-img {
          @include response(xl){
            width: 7.5rem;
            height: 7.5rem;
          }
          width: 5.5rem;
          height: 5.5rem;
          border-radius: 50%;
          border: 2px solid white;
          object-fit: cover;
          margin: 1rem;
        }
        &-name {
          @include response(xl) {
            font-size: getFontSize(xl);
          }
          font-size: getFontSize(md);
          font-family: $font-family-title;
          font-weight: getFontWeight(bold);
          color: var(--text-color);
        }
        &-button {
          @include user_button();
        }
      }
    }
  }

  &-info {
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    @include flex(
      $direction: column,
      $justify: flex-start,
      $align: center,
      $gap: 3rem
    );

    &-title {
      @include view_header(4rem);
      margin-top: 5rem;
    }

    &-selected-client {
      margin-top: 5rem;
      @include response(xl){
        @include flex(
          $direction: row,
          $justify: center,
          $align: center,
          $gap: 5rem
        );
      }
      @include flex(
        $direction: column,
        $justify: center,
        $align: center,
        $gap: 2rem
      );
      &-title {
        @include response(xl) {
          font-size: 2.5rem;
        }
        flex: 1;
        font-size: calc(2.5rem / 1.5);
        font-family: $font-family-title;
        font-weight: getFontWeight(bold);
        color: var(--text-color);
        text-align: center;
        margin-bottom: 0;
      }

      &-container {
        @include flex(
          $direction: row,
          $justify: center,
          $align: center,
          $gap: 3rem
        );
        box-shadow: 0 0.5rem 1rem var(--box-shadow-thin);
        border-radius: 1rem;
        &-img {
          @include response(xl){
            width: 7.5rem;
            height: 7.5rem;
          }
          width: 5.5rem;
          height: 5.5rem;
          border-radius: 50%;
          object-fit: cover;
          margin: 1rem;
        }

        &-name {
          @include response(xl) {
            font-size: getFontSize(xl);
          }
          font-size: getFontSize(md);
          font-family: $font-family-text;
          color: var(--text-color);
        }

        &-button {
          @include user_button($padding: 2.5rem);
        }
      }
    }

    &-date {
      margin-top: 10rem;
      @include flex(
        $direction: row,
        $justify: center,
        $align: center,
        $gap: 5rem
      );

      &-container {
        @include response(xl){
          @include flex(
            $direction: row,
            $justify: center,
            $align: center,
            $gap: 3rem
          );
        }
        @include flex(
          $direction: column,
          $justify: center,
          $align: center,
          $gap: 3rem
        );
        &-title {
          @include response(xl) {
            font-size: 2.5rem;
          }
          font-size: calc(2.5rem / 1.5);
          font-family: $font-family-title;
          font-weight: getFontWeight(bold);
          color: var(--text-color);
          text-align: center;

          &-focus{
            @include response(xl) {
              font-size: 2.5rem;
            }
            font-size: calc(2.5rem / 1.5);
            font-family: $font-family-title;
            font-weight: getFontWeight(bold);
            color: var(--text-color);
            text-align: center;
            color: var(--primary-color);
          }
        }

        &-input {
          @include input($width: 14em);
          &-time{
            @include input($width: 6em)
          }
          &-color{
            grid-area: 1 / 2 / 2 / 3;
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 5rem;
            height: 5rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &::-webkit-color-swatch {
              border-radius: 15px;
              border: none;
            }
            &::-moz-color-swatch {
              border-radius: 15px;
              border: none;
            }
          }
        }
      }
    }

    &-button {
      @include response(xl) {
        margin-top: 15rem;
        @include button($size: xl, $focus: true);
      }
      margin-top: 5rem;
      margin-bottom: 5rem;
      @include button($size: md, $focus: true);


      &-disabled{
        @include response(xl) {
          margin-top: 15rem;
          @include button($size: xl, $disabled: true);
        }
        margin-top: 5rem;
        margin-bottom: 5rem;
        @include button($size: md, $disabled: true);
      }
    }
  }
}

.appointment-textarea-container{
  @include flex(
    $direction: row,
    $justify: center,
    $align: center,
    $gap: 5rem
  );
  &-title{
    @include response(xl) {
      font-size: 3rem;
    }
    font-size: calc(3rem - 1.5rem);
    font-family: $font-family-title;
    font-weight: getFontWeight(bold);
    color: var(--text-color);
    text-align: center;
  }

  &-input{
    @include input(md);
    resize: both;
  }
}

::ng-deep .pagination {
  margin-top: 1rem;
  justify-content: center;
  // Al venir de un componente de terceros, no se puede usar el @include ni las variables de sass propias
  --bs-pagination-color: var(--text-color);
  --bs-pagination-hover-color: var(--primary-color);
  --bs-pagination-active-bg: #6a69dc;
  --bs-pagination-active-border-color: #6a69dc;
  --bs-pagination-font-size: 2rem;
  --bs-pagination-padding-x: 1.5rem;
  --bs-pagination-padding-y: 0.75rem;
  --bs-pagination-focus-box-shadow: none;
}

.no-clients-message {
  font-size: 2rem;
  font-family: $font-family-title;
  font-weight: getFontWeight(bold);
  color: var(--text-color);
  margin-bottom: 2rem;
  text-align: center;
}

.error-message{
  font-size: getFontSize(md);
  font-family: $font-family-title;
  font-weight: getFontWeight(bold);
  color: getColor(red);
  text-align: center;
}
