@import "../../../scss/mixin.scss";
@import "../../../scss/variables.scss";

.content {
  height: calc(100vh - 112px);
  @include flex($direction: column, $justify: flex-start, $align: center, $gap: 3rem);
  padding-bottom: 5rem;
}

.forum{
  &-header{
    @include view_header();
    padding: 0;
  }
  &-container{
    background-color: var(--background-color);
    box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    width: 80vw;
    height: 60vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
    }
  }
  &-form{
    @include flex($direction: row, $justify: flex-start, $align: center, $gap: 1rem);
    width: 80vw;
    &-textarea{
      width: 100%;
      height: 5rem;
      border-radius: 1rem;
      border: 1px solid var(--text-color);
      padding: 1rem;
      font-size: getFontSize(md);
      color: black;
      overflow: hidden;
      &:focus{
        outline: none;
        border: 1px solid var(--primary-color);
      }
    }
    &-button{
      @include response(md){
        @include button($size: md, $focus:true, $border-radius: 1rem);
      }
      @include button($size: sm, $focus:true, $border-radius: 1rem);
    }
  }
}

.loader{
  @include loader($left: 0%);
}