@import "../../../scss/mixin.scss";
@import "../../../scss/variables.scss";

.content {
  height: calc(100vh - 112px);
  @include flex($direction: column, $justify: flex-start, $align: center, $gap: 3rem);
  padding-bottom: 5rem;
}

.forum-header{
  @include view_header();
}

.forum-container{
    @include response(lg) {
      background-color: var(--background-color);
      box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.75);
      border-radius: 1rem;
    }
    width: 80vw;
    height: 80vh;
    overflow-y: auto;
}
