<main class="content">
    <div class="hero">
        <div class="hero-content">
            <h1 class="hero-content-title">{{"LANDING.MAIN-1" | translate}}</h1>
            <p class="hero-content-subtitle">{{"LANDING.MAIN-2" | translate}}</p>
            <div class="hero-content-started">
                <a data-aos="zoom-in" data-aos-duration="700" class="hero-content-started-button" routerLink="/register">{{"LANDING.GET-STARTED" | translate}}</a>
                <img class="hero-content-started-image" src="assets/images/back-drawn-arrow.png" alt="Arrow">
            </div>
        </div>
        <img class="hero-image" src="assets/images/personal_trainer.svg" alt="Hero image">
    </div>
    <div class="benefits">
        <h1 class="benefits-title" data-aos="fade-up" data-aos-duration="700">{{"LANDING.BENEFITS.TITLE" | translate}}</h1>
        <h2 class="benefits-subtitle" data-aos="fade-up" data-aos-duration="700">{{"LANDING.BENEFITS.SUBTITLE" | translate}}</h2>
        <div class="benefits-cards">
            <div class="benefits-cards-card" data-aos="fade-up" data-aos-duration="700">
                <img class="benefits-cards-card-image" src="assets/images/benefits/secure.svg" alt="Secure Servers">
                <div class="benefits-cards-card-text">
                    <h3 class="benefits-cards-card-text-title">{{"LANDING.BENEFITS.1-TITLE" | translate}}</h3>
                    <p class="benefits-cards-card-text-description">{{"LANDING.BENEFITS.1-DESCRIPTION" | translate}}</p>
                </div>
            </div>
            <div class="benefits-cards-card" data-aos="fade-up" data-aos-duration="700">
                <img class="benefits-cards-card-image" src="assets/images/benefits/progress.svg" alt="Progress">
                <div class="benefits-cards-card-text">
                    <h3 class="benefits-cards-card-text-title">{{"LANDING.BENEFITS.2-TITLE" | translate}}</h3>
                    <p class="benefits-cards-card-text-description">{{"LANDING.BENEFITS.2-DESCRIPTION" | translate}}</p>
                </div>
            </div>
            <div class="benefits-cards-card" data-aos="fade-up" data-aos-duration="700">
                <img class="benefits-cards-card-image" src="assets/images/benefits/feedback.svg" alt="Feedback">
                <div class="benefits-cards-card-text">
                    <h3 class="benefits-cards-card-text-title">{{"LANDING.BENEFITS.3-TITLE" | translate}}</h3>
                    <p class="benefits-cards-card-text-description">{{"LANDING.BENEFITS.3-DESCRIPTION" | translate}}</p>
                </div>
            </div>
            <div class="benefits-cards-card" data-aos="fade-up" data-aos-duration="700">
                <img class="benefits-cards-card-image" src="assets/images/benefits/routine.svg" alt="Routine">
                <div class="benefits-cards-card-text">
                    <h3 class="benefits-cards-card-text-title">{{"LANDING.BENEFITS.4-TITLE" | translate}}</h3>
                    <p class="benefits-cards-card-text-description">{{"LANDING.BENEFITS.4-DESCRIPTION" | translate}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="support">
        <h1 class="support-title" data-aos="fade-up" data-aos-duration="700">{{"LANDING.SUPPORT.TITLE" | translate}}</h1>
        <h2 class="support-subtitle" data-aos="fade-up" data-aos-duration="700">{{"LANDING.SUPPORT.SUBTITLE" | translate}}</h2>
        <div class="support-container">
            <img class="support-container-image" src="assets/images/support.svg" alt="Support" data-aos="fade-up" data-aos-duration="700">
            <div class="support-container-text">
                <h3 class="support-container-text-subtitle" data-aos="fade-up" data-aos-duration="700">{{"LANDING.SUPPORT.SERVICES.TITLE" | translate}}</h3>
                <div class="support-container-text-list">
                    <div class="support-container-text-list-item" data-aos="fade-up" data-aos-duration="700">
                        <i class="fa-solid fa-1"></i>
                        <div class="support-container-text-list-item-text">
                            <h4 class="support-container-text-list-item-text-title">{{"LANDING.SUPPORT.SERVICES.1-TITLE" | translate}}</h4>
                            <p class="support-container-text-list-item-text-p">{{"LANDING.SUPPORT.SERVICES.1-DESCRIPTION" | translate}}</p>
                        </div>
                    </div>
                    <div class="support-container-text-list-item" data-aos="fade-up" data-aos-duration="700">
                        <i class="fa-solid fa-2"></i>
                        <div class="support-container-text-list-item-text">
                            <h4 class="support-container-text-list-item-text-title">{{"LANDING.SUPPORT.SERVICES.2-TITLE" | translate}}</h4>
                            <p class="support-container-text-list-item-text-p">{{"LANDING.SUPPORT.SERVICES.2-DESCRIPTION" | translate}}</p>
                        </div>
                    </div>
                    <div class="support-container-text-list-item" data-aos="fade-up" data-aos-duration="700">
                        <i class="fa-solid fa-3"></i>
                        <div class="support-container-text-list-item-text">
                            <h4 class="support-container-text-list-item-text-title">{{"LANDING.SUPPORT.SERVICES.3-TITLE" | translate}}</h4>
                            <p class="support-container-text-list-item-text-p">{{"LANDING.SUPPORT.SERVICES.3-DESCRIPTION" | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
