<main class="content">
    <div class="hero">
        <div class="hero-content">
            <h1 class="hero-content-title">Your app,</h1>
            <p class="hero-content-subtitle">The Real Fitness</p>
            <div class="hero-content-started">
                <a data-aos="zoom-in" data-aos-duration="700" class="hero-content-started-button" routerLink="/register">Get started</a>
                <img class="hero-content-started-image" src="assets/images/back-drawn-arrow.png" alt="Arrow">
            </div>
        </div>
        <img class="hero-image" src="assets/images/personal_trainer.svg" alt="Hero image">
    </div>
    <div class="benefits">
        <h1 class="benefits-title" data-aos="fade-up" data-aos-duration="700">Benefits of our service</h1>
        <h2 class="benefits-subtitle" data-aos="fade-up" data-aos-duration="700">All your progess in one page</h2>
        <div class="benefits-cards">
            <div class="benefits-cards-card" data-aos="fade-up" data-aos-duration="700">
                <img class="benefits-cards-card-image" src="assets/images/benefits/secure.svg" alt="Secure Servers">
                <div class="benefits-cards-card-text">
                    <h3 class="benefits-cards-card-text-title">Security</h3>
                    <p class="benefits-cards-card-text-description">A secure and easy-to-use system for coordinating training sessions</p>
                </div>
            </div>
            <div class="benefits-cards-card" data-aos="fade-up" data-aos-duration="700">
                <img class="benefits-cards-card-image" src="assets/images/benefits/progress.svg" alt="Progress">
                <div class="benefits-cards-card-text">
                    <h3 class="benefits-cards-card-text-title">Tool</h3>
                    <p class="benefits-cards-card-text-description">A tool for setting realistic goals and tracking your progress through the months</p>
                </div>
            </div>
            <div class="benefits-cards-card" data-aos="fade-up" data-aos-duration="700">
                <img class="benefits-cards-card-image" src="assets/images/benefits/feedback.svg" alt="Feedback">
                <div class="benefits-cards-card-text">
                    <h3 class="benefits-cards-card-text-title">Feedback</h3>
                    <p class="benefits-cards-card-text-description">The possibility of giving and receiving feedback to improve the quality of the service</p>
                </div>
            </div>
            <div class="benefits-cards-card" data-aos="fade-up" data-aos-duration="700">
                <img class="benefits-cards-card-image" src="assets/images/benefits/routine.svg" alt="Routine">
                <div class="benefits-cards-card-text">
                    <h3 class="benefits-cards-card-text-title">Manage your routines</h3>
                    <p class="benefits-cards-card-text-description">The convenience of being able to manage your training from a centralized platform</p>
                </div>
            </div>
        </div>
    </div>

    <div class="support">
        <h1 class="support-title" data-aos="fade-up" data-aos-duration="700">Support</h1>
        <h2 class="support-subtitle" data-aos="fade-up" data-aos-duration="700">We are here to help you</h2>
        <div class="support-container">
            <img class="support-container-image" src="assets/images/support.svg" alt="Support" data-aos="fade-up" data-aos-duration="700">
            <div class="support-container-text">
                <h3 class="support-container-text-subtitle" data-aos="fade-up" data-aos-duration="700">All our support services</h3>
                <div class="support-container-text-list">
                    <div class="support-container-text-list-item" data-aos="fade-up" data-aos-duration="700">
                        <i class="fa-solid fa-1"></i>
                        <div class="support-container-text-list-item-text">
                            <h4 class="support-container-text-list-item-text-title">Reporting and Analytics</h4>
                            <p class="support-container-text-list-item-text-p">We offer powerful reporting and analytics tools to help you measure the effectiveness of your training programs and make data-driven decisions.</p>
                        </div>
                    </div>
                    <div class="support-container-text-list-item" data-aos="fade-up" data-aos-duration="700">
                        <i class="fa-solid fa-2"></i>
                        <div class="support-container-text-list-item-text">
                            <h4 class="support-container-text-list-item-text-title">Learner Management</h4>
                            <p class="support-container-text-list-item-text-p">Our training management webpage provides robust learner management tools to help you efficiently track and manage your learners' progress.</p>
                        </div>
                    </div>
                    <div class="support-container-text-list-item" data-aos="fade-up" data-aos-duration="700">
                        <i class="fa-solid fa-3"></i>
                        <div class="support-container-text-list-item-text">
                            <h4 class="support-container-text-list-item-text-title">Customization</h4>
                            <p class="support-container-text-list-item-text-p">We offers a range of customization options to help you create a unique and branded learning experience for your learners. With our customization features, you can personalize the design and layout of your training materials</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
