<main class="content">
    <div *ngIf="loading" class="loader"></div>
    <h1 class="machines-administration-header">Machines and Exercises Administration</h1>
    <div class="machines-administration-actions">
        <button class="machines-administration-actions-button" routerLink="/administration/machines/add">Add Machine or Exercise</button>
    </div>
    <div class="machines-administration">
        <div class="machines-administration-machine" *ngFor="let singleMachine of machines">
            <app-machine-card [machine]="singleMachine"></app-machine-card>
        </div>
    </div>
</main>
