@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

.content{
  height: calc(100vh - 112px);
}

.machines-administration-header {
  @include view_header();
  margin-top: 5rem;
}

.machines-administration {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 7rem;
  padding: 5rem;

  &-actions {
    @include response(xl){
      @include flex($direction: row, $justify: flex-end);
    }
    @include flex($direction: row, $justify: center);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 5rem;
    &-button {
      @include response(xl){
        @include button(lg, true);
      }
      @include button(sm, true);
      margin-left: 2rem;
    }
  }
}

.loader {
  @include loader(40vh, 38vw);
}

.machines-administration-empty{
  @include flex($direction: row, $justify: center, $align: center);
  &-text{
    font-size: getFontSize(md);
    font-family: $font-family-title;
    font-weight: getFontWeight(bold);
    color: getColor(dark-grayish-violet);
  }
}

@include toast();
