<main class="content">
  <div class="toast-container">
    <ngb-toast *ngIf="showDeleteToast" [autohide]="true" (hidden)="showDeleteToast=false">
      <ng-template ngbToastHeader>
        <div class="me-auto">
          <img src="../../../../../assets/images/FitVerumLogo.png" width="40" height="40"/>
          <strong class="mx-1">FitVerum</strong>
        </div>
      </ng-template>
      {{"ADMINISTRATION.MACHINES.DELETED-TOAST" | translate}}
    </ngb-toast>
  </div>
  <div class="toast-container">
    <ngb-toast *ngIf="showAddToast" [autohide]="true" (hidden)="showAddToast=false">
      <ng-template ngbToastHeader>
        <div class="me-auto">
          <img src="../../../../../assets/images/FitVerumLogo.png" width="40" height="40"/>
          <strong class="mx-1">FitVerum</strong>
        </div>
      </ng-template>
      {{"ADMINISTRATION.MACHINES.ADDED-TOAST" | translate}}
    </ngb-toast>
  </div>
    <div *ngIf="loading" class="loader"></div>
    <h1 class="machines-administration-header">{{"ADMINISTRATION.MACHINES.TITLE" | translate}}</h1>
    <div class="machines-administration-actions">
        <button class="machines-administration-actions-button" routerLink="/administration/machines/add">{{"ADMINISTRATION.MACHINES.ADD-BUTTON" | translate}}</button>
    </div>
    <div class="machines-administration-empty">
        <p *ngIf="!loading && machines.length == 0" class="machines-administration-empty-text">{{"ADMINISTRATION.MACHINES.NO-MACHINES" | translate}}</p>
    </div>
    <div class="machines-administration">
        <div class="machines-administration-machine" *ngFor="let singleMachine of machines">
            <app-machine-card (deleteMachineEvent)="handleDeleteMachine()" [machine]="singleMachine"></app-machine-card>
        </div>
    </div>
</main>
