@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

/// Estilos de la vista máquinas
.content{
  @include response(md){
    min-height: calc(100vh - 112px);
  }
  min-height: 100vh;
}

/// Cabecera de la vista
.machines-administration-header {
  @include view_header();
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0
}

/// Contenedor de las máquinas
.machines-administration {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 7rem;
  padding: 5rem;

  &-actions {
    @include response(xl){
      @include flex($direction: row, $justify: flex-end);
    }
    @include flex($direction: row, $justify: center);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 5rem;
    &-button {
      @include response(xl){
        @include button(lg, true);
      }
      @include button(sm, true);
    }
  }
}

.loader {
  @include loader(40vh, 38vw);
}

/// Contenedor de la máquina sin contenido
.machines-administration-empty{
  @include flex($direction: row, $justify: center, $align: center);
  &-text{
    font-size: getFontSize(md);
    font-family: $font-family-title;
    font-weight: getFontWeight(bold);
    color: var(--cuaternary-color);
  }
}

@include toast(-15rem, true);

@include response(xl){
  @include toast(-21rem);
}
