<div *ngIf="!loading" class="breadcrumbs">
    <a class="breadcrumbs-item" routerLink="/administration/machines">{{"ADMINISTRATION.MACHINES.MACHINES" | translate}}</a>
    <p class="breadcrumbs-item"> > </p>
    <p class="breadcrumbs-item">{{"ADMINISTRATION.MACHINES.UPDATE-MACHINE-FORM.TITLE" | translate}}</p>
    <p class="breadcrumbs-item"> > </p>
    <p class="breadcrumbs-item"> {{name}} </p>
</div>
<main class="content">
    <div *ngIf="loading" class="loader"></div>
    <div *ngIf="!loading" class="edit-machine">
        <div class="edit-machine-logo-presentation">
            <img class="edit-machine-logo-presentation-img" src="../../assets/images/FitVerumLogo.png" alt="Brand Logo">
            <h1 class="edit-machine-logo-presentation-text">
                <span class="edit-machine-logo-presentation-text-first">Fit</span>
                <span class="edit-machine-logo-presentation-text-second">Verum</span>
            </h1>
        </div>
        <div class="edit-machine-title-container">
            <h1 class="edit-machine-title-container-text">{{"ADMINISTRATION.MACHINES.UPDATE-MACHINE-FORM.TITLE" | translate}}</h1>
            <img class="edit-machine-title-container-img" [src]="previousPhotoURL" alt="Machine Image">
        </div>
        <form class="edit-machine-form" (ngSubmit)="updateMachine()">
            <fieldset class="edit-machine-form-fieldset">
                <legend class="edit-machine-form-fieldset-label" for="machineName">{{"ADMINISTRATION.MACHINES.UPDATE-MACHINE-FORM.NAME" | translate}}</legend>
                <input *ngIf="machineUploaded" class="edit-machine-form-fieldset-input" type="text" id="machineName" name="machineName" placeholder="Machine Name" [(ngModel)]="name">
            </fieldset>
            <fieldset class="edit-machine-form-fieldset">
                <legend class="edit-machine-form-fieldset-label" for="machineDescription">{{"ADMINISTRATION.MACHINES.UPDATE-MACHINE-FORM.DESCRIPTION" | translate}}</legend>
                <textarea *ngIf="machineUploaded" class="edit-machine-form-fieldset-textarea" type="text" id="machineDescription" name="machineDescription" placeholder="Machine Description" [(ngModel)]="description"></textarea>
            </fieldset>
            <fieldset class="edit-machine-form-fieldset">
                <legend class="edit-machine-form-fieldset-label" for="machineImage">{{"ADMINISTRATION.MACHINES.UPDATE-MACHINE-FORM.IMAGEN" | translate}}</legend>
                <label for="machineImage" class="edit-machine-form-fieldset-label-file">
                    <label class="edit-machine-form-fieldset-label-file-text" for="machineImage">{{uploadMessage}}</label>
                    <img *ngIf="!uploaded" class="edit-machine-form-fieldset-label-file-img" src="../../../../../assets/images/add.png">
                    <img *ngIf="uploaded" class="edit-machine-form-fieldset-label-file-img-uploaded" [src]="newPhotoURL">
                </label>
                <input class="edit-machine-form-fieldset-input-file" type="file" id="machineImage" name="machineImage" accept="image/*" (change)="uploadFile($event)">
                <p *ngIf="!fileTooBig" class="info-under">3 MB Max | JPG or PNG</p>
                <p *ngIf="fileTooBig" class="info-under-error">3 MB Max | JPG or PNG</p>
            </fieldset>
            <button type="submit" class="edit-machine-form-button">{{"ADMINISTRATION.MACHINES.UPDATE-MACHINE-FORM.BUTTON" | translate}}</button>
        </form>
    </div>
    <div class="waves"></div>
</main>
