<main class="content">
    <div class="login">
        <div class="login-logo-presentation">
            <img class="login-logo-presentation-img" src="../../assets/images/FitVerumLogo.png" alt="Brand Logo">
            <h1 class="login-logo-presentation-text">
                <span class="login-logo-presentation-text-first">Fit</span>
                <span class="login-logo-presentation-text-second">Verum</span>
            </h1>
        </div>
        <h1 class="login-title">Sign In</h1>
        <form class="login-form">
            <fieldset class="login-form-fieldset">
                <legend class="login-form-fieldset-label">Email</legend>
                <div class="login-form-fieldset-input-container">
                    <input class="login-form-fieldset-input" type="email" placeholder="example@email.com" [(ngModel)]="email" name="email" required>
                    <i class="fa-solid fa-eye login-form-fieldset-input-container-icon-not-showing"></i>
                </div>
            </fieldset>
            <fieldset class="login-form-fieldset">
                <legend class="login-form-fieldset-label">Password</legend>
                <div class="login-form-fieldset-input-container">
                    <input *ngIf="!showingPassword" class="login-form-fieldset-input" type="password" placeholder="********" [(ngModel)]="password" name="password" (keyup)="onKeyDown($event)" required>
                    <input *ngIf="showingPassword" class="login-form-fieldset-input" type="text" placeholder="********" [(ngModel)]="password" name="password" (keyup)="onKeyDown($event)" required>
                    <i *ngIf="!showingPassword" class="fa-solid fa-eye login-form-fieldset-input-container-icon" (click)="showPassword()"></i>
                    <i *ngIf="showingPassword" class="fa-solid fa-eye-slash login-form-fieldset-input-container-icon-close" (click)="showPassword()"></i>
                </div>
            </fieldset>
            <p class="forgot-password" *ngIf="!forgottenPSW" (click)="forgotPassword()">Forgot password?</p>
            <p class="forgot-password-check" *ngIf="forgottenPSW">Check your email</p>
            <p class="login-form-fieldset-credentials">{{this.auth.failedError}}</p>
            <p *ngIf="isEmpty" class="login-form-fieldset-credentials">Fields can't be empty</p>
            <p *ngIf="emailEmpty" class="login-form-fieldset-credentials">Fill the email input for recovering with a valid format</p>
            <button (click)="normalLogin()" class="login-form-button">
                Sign in
            </button>
        </form>
        <div class="login-separator">
            <span class="login-separator-line"></span>
            <span class="login-separator-text">or</span>
            <span class="login-separator-line"></span>
        </div>

        <div class="login-social">
            <button (click)="googleLogin()" class="login-social-button">
                <img class="login-social-button-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" alt="Google Logo">
                <span class="login-social-button-text">Sign in with Google</span>
            </button>
            <button (click)="githubLogin()" class="login-social-button">
                <img class="login-social-button-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" alt="gitHub Logo">
                <span class="login-social-button-text">Sign in with GitHub</span>
            </button>
        </div>
    </div>
    <div class="waves"></div>
</main>
