<main class="content">
    <div class="login">
        <div class="login-logo-presentation">
            <img class="login-logo-presentation-img" src="../../assets/images/FitVerumLogo.png" alt="Brand Logo">
            <h1 class="login-logo-presentation-text">
                <span class="login-logo-presentation-text-first">Fit</span>
                <span class="login-logo-presentation-text-second">Verum</span>
            </h1>
        </div>
        <h1 class="login-title">{{"LOGIN.TITLE" | translate}}</h1>
        <form class="login-form">
            <fieldset class="login-form-fieldset">
                <legend class="login-form-fieldset-label">{{"LOGIN.EMAIL" | translate}}</legend>
                <div class="login-form-fieldset-input-container">
                    <input class="login-form-fieldset-input" type="email" placeholder="example@email.com" [(ngModel)]="email" name="email" required>
                    <i class="fa-solid fa-eye login-form-fieldset-input-container-icon-not-showing"></i>
                </div>
            </fieldset>
            <fieldset class="login-form-fieldset">
                <legend class="login-form-fieldset-label">{{"LOGIN.PASSWORD" | translate}}</legend>
                <div class="login-form-fieldset-input-container">
                    <input *ngIf="!showingPassword" class="login-form-fieldset-input" type="password" placeholder="********" [(ngModel)]="password" name="password" (keyup)="onKeyDown($event)" required>
                    <input *ngIf="showingPassword" class="login-form-fieldset-input" type="text" placeholder="********" [(ngModel)]="password" name="password" (keyup)="onKeyDown($event)" required>
                    <i *ngIf="!showingPassword" class="fa-solid fa-eye login-form-fieldset-input-container-icon" (click)="showPassword()"></i>
                    <i *ngIf="showingPassword" class="fa-solid fa-eye-slash login-form-fieldset-input-container-icon-close" (click)="showPassword()"></i>
                </div>
            </fieldset>
            <p class="forgot-password" *ngIf="!forgottenPSW" (click)="forgotPassword()">{{"LOGIN.FORGOT-PASSWORD" | translate}}</p>
            <p class="forgot-password-check" *ngIf="forgottenPSW">{{"LOGIN.CHECK-EMAIL" | translate}}</p>
            <p class="login-form-fieldset-credentials">{{this.auth.failedError}}</p>
            <p *ngIf="isEmpty" class="login-form-fieldset-credentials">{{"LOGIN.ERROR-EMPTY" | translate}}</p>
            <p *ngIf="emailEmpty" class="login-form-fieldset-credentials">{{"LOGIN.VALID-FORMAT" | translate}}</p>
            <button (click)="normalLogin()" class="login-form-button">
                {{"LOGIN.BUTTON" | translate}}
            </button>
        </form>
        <div class="login-separator">
            <span class="login-separator-line"></span>
            <span class="login-separator-text">{{"LOGIN.OR" | translate}}</span>
            <span class="login-separator-line"></span>
        </div>

        <div class="login-social">
            <button (click)="googleLogin()" class="login-social-button">
                <img class="login-social-button-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" alt="Google Logo">
                <span class="login-social-button-text">{{"LOGIN.GOOGLE" | translate}}</span>
            </button>
            <button (click)="twitterLogin()" class="login-social-button">
                <img class="login-social-button-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/512px-Logo_of_Twitter.svg.png" alt="Twitter Logo">
                <span class="login-social-button-text">{{"LOGIN.TWITTER" | translate}}</span>
            </button>
        </div>
    </div>
    <div class="waves"></div>
</main>
