@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

/// Estilos del contenido de la vista de sobre nosotros
.content{
  height: auto;
  @include response(xs){
    padding-bottom: 10rem;
  }
  @include response(lg){
    padding-bottom: 10rem;
  }
  @include response(xl){
    padding-bottom: 17.15rem;
  }
}

/// Estilo del título
.title{
  @include view_header(5rem);
}

/// Estilo del contenedor del texto
.text-container{
  @include flex(column, flex-start, flex-start, 6rem);
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;

  &-text{
    color: var(--text-color);
    font-size: getFontSize(sm);
    line-height: 5rem;
    text-align: left;
    font-family: $font-family-text;
    @include response(xl){
      font-size: getFontSize(lg);
      text-align: justify;
    }
  }
}

