<main class="content">
  <div *ngIf="loading" class="loader"></div>
  <h1 class="diets-title">{{"USERS.DIETS.YOUR-DIETS" | translate}}</h1>
  <h2 class="diets-title-no-diets" *ngIf="!diets.length && !loading">{{"USERS.DIETS.NO-DIETS" | translate}}</h2>
  <div class="diets-container">
      <div class="diets-container-routine" *ngFor="let singleDiet of diets" (click)="goToDiet(singleDiet)">
          <img class="diets-container-routine-img" [src]="singleDiet.photoURL" alt="Routine Image">
          <h2 class="diets-container-routine-title">{{singleDiet.name}}</h2>
      </div>
  </div>
  </main>
