@import "../../../../../scss/mixin.scss";
@import "../../../../../scss/variables.scss";

/// Estilos para la vista de mostrar ejercicios
.content{
  @include response(md){
    min-height: calc(100vh - 112px);
  }
  min-height: 100vh;
}

/// Estilos para la cabecera de la vista de mostrar ejercicios
.exercises-header {
  @include view_header();

  &-routine-name{
    @include view_header();
    color: var(--text-color);
  }

  &-no-exercises{
    @include view_header(2rem);
    color: var(--cuaternary-color);
  }
}

/// Estilos para la vista de mostrar ejercicios
.exercises {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 7rem;
  padding: 5rem;

  &-actions {
    @include response(xl){
      @include flex($direction: row, $justify: flex-end);
    }
    @include flex($direction: row, $justify: center);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 5rem;
    &-button {
      @include button(lg, true);
      margin-left: 2rem;
    }
  }
}

.loader {
  @include loader(40vh, 38vw);
}

.breadcrumbs{
  @include breadcrumbs();
}
