<main class="content">
    <div class="breadcrumbs">
        <a class="breadcrumbs-item" routerLink="/trainer/routines">Routines</a>
        <p class="breadcrumbs-item"> > </p>
        <p class="breadcrumbs-item">{{routineName}}</p>
        <p class="breadcrumbs-item"> > </p>
        <p class="breadcrumbs-item">Exercises</p>
    </div>
    <div *ngIf="loading" class="loader"></div>
    <h1 class="exercises-header">Exercises of <span class="exercises-header-routine-name">{{routineName}}</span> routine</h1>
    <div class="exercises-actions">
        <button class="exercises-actions-button" routerLink="/administration/machines/add">Add Exercise</button>
    </div>
    <h2 *ngIf="exercises.length == 0" class="exercises-header-no-exercises">This routine doesn't have any exercises assigned</h2>
    <div class="exercises">
        <div class="exercises-machine" *ngFor="let exercise of exercises">
            <app-exercise-card [exercise]="exercise"></app-exercise-card>
        </div>
    </div>
</main>
