@import "../../../../../../scss/mixin.scss";
@import "../../../../../../scss/variables.scss";

.breadcrumbs {
  @include breadcrumbs($margin-left: 5rem);
}

/// Estilos para la vista de mostrar un solo ejercicio
.content {
  @include response(xl){
    height: calc(100vh - 90px);
  }
  @include response(desktop){
    height: calc(100vh - 112px);
  }
  height: 175vh;
  width: 100%;
  background-color: var(--background-color);
  padding: 0 2rem;
  @include response(xl) {
    padding: 0 5rem;
  }
}

/// Estilos para el contenedor de mostrar un solo ejercicio
.show-exercise {
  @include response(sm) {
    margin-top: 25rem;
  }
  @include response(xl) {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 0;
  }

  @include flex(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 5rem
  );
  height: 80vh;
  width: 100%;

  &-img-container {
    grid-area: 1 / 1 / 2 / 2;
    @include flex($direction: column, $justify: center, $align: center, $gap: 2rem);
    &-img {
      width: 85%;
      height: 85%;
      object-fit: cover;
      border-radius: 1rem;
    }
    &-button {
      @include response(xl) {
        @include button($focus: true);
      }
      @include button($size: sm, $focus: true);
    }
  }

  &-text {
    @include response(xl) {
      margin-left: 5rem;
      padding-right: 5rem;
      margin-top: 5rem;
    }
    @include flex(
      $direction: column,
      $justify: flex-start,
      $align: flex-start,
      $gap: 6rem
    );

    place-self: start;
    width: 100%;

    grid-area: 1 / 2 / 2 / 3;

    &-title-container {
      display: grid;
      grid-template-columns: 1fr 0.1fr;
      grid-template-rows: 1fr;
      width: 100%;
      align-items: center;
      &-title {
        grid-area: 1 / 1 / 2 / 2;
        @include response(xl) {
          font-size: getFontSize(xxxl);
        }
        font-size: getFontSize(xl);
        font-family: $font-family-title;
        font-weight: getFontWeight(bold);
        text-align: center;
        background-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.1),
          rgba(255, 255, 255, 0)
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-color: var(--primary-color);
        margin-bottom: 0;
      }

      &-button {
        grid-area: 1 / 2 / 2 / 3;
        @include response(xl) {
          @include button($focus: true);
        }
        @include button($size: sm, $focus: true);
      }
    }

    &-description {
      @include response(xl) {
        font-size: getFontSize(md);
      }
      font-size: getFontSize(sm);
      font-family: $font-family-text;
      font-weight: getFontWeight(regular);
      text-align: justify;
      margin-bottom: 0;
      color: var(--text-color);
    }
  }
}

.loader {
  @include loader();
}
