@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

/// Estilos para la vista de evolución de usuario
.content{
  height: calc(100vh - 112px);
  @include flex($direction: column, $justify: flex-start, $align: center, $gap: 10rem);
}

/// Estilo del título
.exercise-title{
    @include view_header();
    &-no-exercise{
      @include view_header(3rem);
      color: var(--text-color);
    }

    &-span{
      color: var(--text-color);
    }
}

.loader{
    @include loader($left: 0%);
}

/// Estilo del contenedor de la gráfica
.chart-container{
    @include flex($direction: column, $justify: center, $align: center);
    @include response(lg){
        width: 70%;
        height: 70%;
    }
    width: 100%;
    height: 100%;
    &-chart{
        width: 100%;
        height: 100%;
    }
}
