<div class="breadcrumbs">
    <a class="breadcrumbs-item" routerLink="/trainer/routines">{{"TRAINERS.ROUTINES.ROUTINES" | translate}}</a>
    <p class="breadcrumbs-item"> > </p>
    <p class="breadcrumbs-item">{{"TRAINERS.ROUTINES.ADD-FORM.NEW-ROUTINE" | translate}}</p>
</div>
<main class="content">
  <div class="add-routine">
      <div class="add-routine-logo-presentation">
          <img class="add-routine-logo-presentation-img" src="../../assets/images/FitVerumLogo.png" alt="Brand Logo">
          <h1 class="add-routine-logo-presentation-text">
              <span class="add-routine-logo-presentation-text-first">Fit</span>
              <span class="add-routine-logo-presentation-text-second">Verum</span>
          </h1>
      </div>
      <h1 class="add-routine-title">{{"TRAINERS.ROUTINES.ADD-FORM.ADD-ROUTINE" | translate}}</h1>
      <form class="add-routine-form" (ngSubmit)="addRoutine()">
          <fieldset class="add-routine-form-fieldset">
              <legend class="add-routine-form-fieldset-label" for="routineTitle">{{"TRAINERS.ROUTINES.ADD-FORM.NAME" | translate}}</legend>
              <input class="add-routine-form-fieldset-input" type="text" id="routineTitle" name="routineTitle" placeholder="Routine Title" [(ngModel)]="title">
          </fieldset>

          <fieldset class="add-routine-form-fieldset">
              <legend class="add-routine-form-fieldset-label" for="routineImage">{{"TRAINERS.ROUTINES.ADD-FORM.IMAGE" | translate}}</legend>
              <label for="routineImage" class="add-routine-form-fieldset-label-file">
                  <label class="add-routine-form-fieldset-label-file-text" for="routineImage">{{uploadMessage}}</label>
                  <img *ngIf="!uploaded" class="add-routine-form-fieldset-label-file-img" src="../../../../../assets/images/add.png">
                  <img *ngIf="uploaded" class="add-routine-form-fieldset-label-file-img-uploaded" [src]="photoURL">
              </label>
              <input class="add-routine-form-fieldset-input-file" type="file" id="routineImage" name="routineImage" accept="image/*" (change)="uploadFile($event)">
              <p *ngIf="!fileTooBig" class="info-under">3 MB Max</p>
              <p *ngIf="fileTooBig" class="info-under-error">3 MB Max</p>
          </fieldset>
          <button *ngIf="!uploaded" class="add-routine-form-button-disabled" disabled>{{"TRAINERS.ROUTINES.ADD-FORM.BUTTON" | translate}}</button>
          <button type="submit" *ngIf="uploaded" class="add-routine-form-button">{{"TRAINERS.ROUTINES.ADD-FORM.BUTTON" | translate}}</button>
      </form>
  </div>
  <div class="waves"></div>
  </main>
