@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

.content{
  @include response(md){
    height: calc(100vh - 112px);
  }
  height: 100vh;
}

::ng-deep .cal-cell-row {
  &:hover{
    background-color: var(--grey) !important;
  }
}

::ng-deep .cal-events{
  background-color: var(--grey) !important;
}

::ng-deep .cal-month-view .cal-event {
  width: 15px !important;
  height: 15px !important;
}

::ng-deep span.cal-day-number {
  color: var(--primary-color);
  font-family: $font-family-title !important;
  @include response(xl){
    font-size: 5rem !important;
  }
  font-size: getFontSize(md) !important;
  opacity: 1 !important;
}

::ng-deep .cal-month-view {
  background-color: var(--background-color);
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

::ng-deep .cal-month-view .cal-day-cell{
  min-height: 15rem;
}

::ng-deep .cal-cell-top, .cal-month-view, .cal-events{
  cursor: pointer;
  transition: $transition;
  &:hover {
    .cal-day-number {
      cursor: pointer;
      color: var(--primary-color);
      scale: 1.3;
      transition: $transition;
      opacity: 1;
      color: var(--background-color);
    }
    color: var(--background-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
  }

  &:active {
    background-color: var(--secondary-color);
    scale: 1;
  }
}

::ng-deep .cal-past,
::ng-deep .cal-future,
::ng-deep .cal-today {
  color: var(--text-color);
  font-family: $font-family-title !important;
  font-size: getFontSize(lg) !important;
  &:hover{
    background-color: var(--background-color) !important;
  }
}

.calendar-controls {
  margin-bottom: 10rem !important;
  margin-bottom: 5rem !important;
  @include response(md){
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 20rem
    );
  }

  @include flex(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 7rem
  );

  padding: 2rem;
  &-month {
    font-size: getFontSize(xxl);
    font-family: $font-family-title;
    font-weight: getFontWeight(bold);
    transition: $transition;
    color: var(--primary-color);
  }

  &-button {
    @include response(xl){
      @include button(xl, true, 20rem);
    }
    @include button(md, true, 20rem);
  }
}


.modal {
  // TODO: Editar borders
  @include modal();
}

.no-comment-message{
  @include response(xl) {
    font-size: getFontSize(md);
  }
  font-size: getFontSize(sm);
  font-family: $font-family-title;
  font-weight: getFontWeight(bold);
  color: var(--cuaternary-color);
  text-align: center;
  margin-bottom: 1rem;
}


.fa-x{
  color: var(--primary-color);
  font-size: getFontSize(xl);
  transition: $transition;
  padding-right: 1rem;
  cursor: pointer;
  &:hover{
    color: var(--secondary-color);
  }
}

::ng-deep .modal-content {
  background-color: var(--background-color) !important;
}

.modal-data-text{
  font-family: $font-family-title;
  font-weight: getFontWeight(bold);
  color: var(--text-color);
}

.modal-body-content-text{
  background-color: var(--background-color);
  margin-bottom: 3rem;
}
