@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

::ng-deep span.cal-day-number {
  color: getColor(intense-violet);
  font-family: $font-family-title !important;
  @include response(xl){
    font-size: 5rem !important;
  }
  font-size: getFontSize(md) !important;
  opacity: 1 !important;
}

::ng-deep .cal-month-view {
  background-color: getColor(white);
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

::ng-deep .cal-month-view .cal-day-cell{
  min-height: 15rem;
}

::ng-deep .cal-cell-top, .cal-month-view, .cal-events{
  cursor: pointer;
  transition: $transition;
  &:hover {
    .cal-day-number {
      cursor: pointer;
      color: getColor(intense-violet);
      scale: 1.3;
      transition: $transition;
      opacity: 1;
      color: getColor(white);
    }
    color: getColor(white);
    background-color: getColor(light-violet);
    border: 1px solid getColor(light-violet);
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
  }

  &:active {
    background-color: getColor(light-violet);
    scale: 1;
  }
}

::ng-deep .cal-past,
::ng-deep .cal-future,
::ng-deep .cal-today {
  color: getColor(black);
  font-family: $font-family-title !important;
  font-size: getFontSize(lg) !important;
}

.calendar-controls {
  margin-bottom: 10rem !important;
  margin-bottom: 5rem !important;
  @include response(md){
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 20rem
    );
  }

  @include flex(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 7rem
  );

  padding: 2rem;
  &-month {
    font-size: getFontSize(xxl);
    font-family: $font-family-title;
    font-weight: getFontWeight(bold);
    transition: $transition;
    color: getColor(intense-violet);
  }

  &-button {
    @include response(xl){
      @include button(xl, true, 20rem);
    }
    @include button(md, true, 20rem);
  }
}
