<main class="content">
  <div class="toast-container">
    <ngb-toast *ngIf="showAddToast" [autohide]="true" (hidden)="showAddToast=false">
      <ng-template ngbToastHeader>
        <div class="me-auto">
          <img src="../../../../assets/images/FitVerumLogo.png" width="40" height="40"/>
          <strong class="mx-1">FitVerum</strong>
        </div>
      </ng-template>
      {{"USERS.ACTIVITIES.ADDED-TOAST" | translate}}
    </ngb-toast>
  </div>
  <div class="toast-container">
    <ngb-toast *ngIf="showDeleteToast" [autohide]="true" (hidden)="showDeleteToast=false">
      <ng-template ngbToastHeader>
        <div class="me-auto">
          <img src="../../../../assets/images/FitVerumLogo.png" width="40" height="40"/>
          <strong class="mx-1">FitVerum</strong>
        </div>
      </ng-template>
      {{"USERS.ACTIVITIES.DELETED-TOAST" | translate}}
    </ngb-toast>
  </div>
  <div class="toast-container">
    <ngb-toast *ngIf="showUpdatedToast" [autohide]="true" (hidden)="showDeleteToast=false">
      <ng-template ngbToastHeader>
        <div class="me-auto">
          <img src="../../../../assets/images/FitVerumLogo.png" width="40" height="40"/>
          <strong class="mx-1">FitVerum</strong>
        </div>
      </ng-template>
      {{"USERS.ACTIVITIES.EDITED-TOAST" | translate}}
    </ngb-toast>
  </div>
<div class="calendar-controls">
    <button class="calendar-controls-button"
    mwlCalendarPreviousView
    [(viewDate)]="viewDate"
    [view]="view">
    {{"USERS.ACTIVITIES.PREVIOUS" | translate}}
    </button>

    <h3 class="calendar-controls-month">{{ viewDate | calendarDate:(view + 'ViewTitle') }}</h3>

    <button class="calendar-controls-button"
    mwlCalendarNextView
    [(viewDate)]="viewDate"
    [view]="view">
    {{"USERS.ACTIVITIES.NEXT" | translate}}
    </button>
</div>

<div *ngIf="events$ | async; let events">
  <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [weekStartsOn]="weekStartsOn"
        [weekendDays]="weekendDays"
        (eventClicked)="open($event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        (dayClicked)="routeToRoutines($event.day.date)"
      >
      </mwl-calendar-month-view>
  </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{"USERS.ACTIVITIES.EVENT-INFORMATION" | translate}}</h5>
    <i class="fa-solid fa-x" (click)="close()"></i>
  </div>
  <div class="modal-body">
    <div>
      <h6 class="modal-body-title">{{"USERS.ACTIVITIES.EVENT-TITLE" | translate}}</h6>
      <p class="modal-body-title-text">{{ modalData?.event?.title }}</p>
      <p class="modal-body-title-date">{{ modalDataDate | date: 'longDate'}}</p>
      <h6 class="modal-body-content-title">{{"USERS.ACTIVITIES.STATS" | translate}}</h6>
      <p class="modal-body-content-text">Series: <span class="modal-data-text">{{ modalData?.event?.series }}</span> - Reps: <span class="modal-data-text">{{ modalData?.event?.repetitions }}</span> - {{"USERS.ACTIVITIES.WEIGHT" | translate}}: <span class="modal-data-text">{{ modalData?.event?.kg }} kg</span></p>
      <h6 *ngIf="modalData?.event?.comment != ''" class="modal-body-content-title">{{"USERS.ACTIVITIES.COMMENTS" | translate}}</h6>
      <p *ngIf="modalData?.event?.comment != ''" class="modal-body-content-text">{{ modalData?.event?.comment}}</p>
      <p *ngIf="modalData?.event?.comment === null" class="no-comment-message">{{"USERS.ACTIVITIES.NO-COMMENTS" | translate}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="modal-button-delete" (click)="deleteEvent(modalData?.event?.id)">
      <i class="fa-solid fa-trash"></i>
    </button>
    <button type="button" class="modal-button-update" (click)="goToUpdate(modalData?.event?.id)">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
    <button type="button" class="modal-button" (click)="openEvolution(modalData?.event?.exerciseID)">
      {{"USERS.ACTIVITIES.SEE-EVOLUTION" | translate}}
    </button>
    <button type="button" class="modal-button" (click)="close()">
      {{"USERS.ACTIVITIES.BACK" | translate}}
    </button>
  </div>
</ng-template>
</main>
