<main class="content">
  <h1 class="title">{{"LEGAL-TERMS.TITLE" | translate}}</h1>
  <div class="term-container">
    <h1 class="term-container-title">{{"LEGAL-TERMS.T-1-TITLE" | translate}}</h1>
    <p class="term-container-content">{{"LEGAL-TERMS.T-1-CONTENT" | translate}}</p>
  </div>
  <div class="term-container">
    <h1 class="term-container-title">{{"LEGAL-TERMS.T-2-TITLE" | translate}}</h1>
    <h2 class="term-container-subtitle">{{"LEGAL-TERMS.T-2.1-TITLE" | translate}}</h2>
    <p class="term-container-content">{{"LEGAL-TERMS.T-2.1-CONTENT" | translate}}</p>
    <h2 class="term-container-subtitle">{{"LEGAL-TERMS.T-2.2-TITLE" | translate}}</h2>
    <p class="term-container-content">{{"LEGAL-TERMS.T-2.2-CONTENT" | translate}}</p>
  </div>
  <div class="term-container">
    <h1 class="term-container-title">{{"LEGAL-TERMS.T-3-TITLE" | translate}}</h1>
    <h2 class="term-container-subtitle">{{"LEGAL-TERMS.T-3.1-TITLE" | translate}}</h2>
    <p class="term-container-content">{{"LEGAL-TERMS.T-3.1-CONTENT" | translate}}</p>
  </div>
  <div class="term-container">
    <h1 class="term-container-title">{{"LEGAL-TERMS.T-4-TITLE" | translate}}</h1>
    <h2 class="term-container-subtitle">{{"LEGAL-TERMS.T-4.1-TITLE" | translate}}</h2>
    <p class="term-container-content">{{"LEGAL-TERMS.T-4.1-CONTENT" | translate}}</p>
    <h2 class="term-container-subtitle">{{"LEGAL-TERMS.T-4.2-TITLE" | translate}}</h2>
    <p class="term-container-content">{{"LEGAL-TERMS.T-4.2-CONTENT" | translate}}</p>
  </div>
  <div class="term-container">
    <h1 class="term-container-title">{{"LEGAL-TERMS.T-5-TITLE" | translate}}</h1>
    <h2 class="term-container-subtitle">{{"LEGAL-TERMS.T-5.1-TITLE" | translate}}</h2>
    <p class="term-container-content">{{"LEGAL-TERMS.T-5.1-CONTENT" | translate}}</p>
    <h2 class="term-container-subtitle">{{"LEGAL-TERMS.T-5.2-TITLE" | translate}}</h2>
    <p class="term-container-content">{{"LEGAL-TERMS.T-5.2-CONTENT" | translate}}</p>
  </div>
  <p class="term-container-content-final-text">{{"LEGAL-TERMS.FINAL-TEXT" | translate}}</p>
</main>
<app-footer></app-footer>
