/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixin';
@import './base';
// @import "src/app/header/header.component.scss";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/// Helper para el header móvil, para que no se mueva el contenido
.fixed-position {
  overflow: hidden !important;
}

/// Cambio de tema a oscuro o claro
.theme{
  --primary-color: #{getColor('primary')};
  --secondary-color: #{getColor('secondary')};
  --tertiary-color: #{getColor('tertiary')};
  --cuaternary-color: #{getColor('cuaternary')};
  --background-color: #{getColor('background')};
  --text-color: #{getColor('text')};
  --box-shadow-normal: rgba(0, 0, 0, 0.75);
  --box-shadow-thin: rgba(0, 0, 0, 0.15);
  --gray : lightgray;

  &--dark{
    --primary-color: #{getColor('primary')};
    --secondary-color: #{getColor('secondary')};
    --tertiary-color: #{getColor('cuaternary')};
    --cuaternary-color: #{getColor('tertiary')};
    --background-color: #{getColor('text')};
    --text-color: #{getColor('background')};
    --box-shadow-normal: #{getColor('primary')};
    --box-shadow-thin: #{getColor('primary')};
    --gray : gray;
  }
}

/// Cambio de tema a oscuro o claro
.content{
  background-color: var(--background-color);
}


$modal-content-bg: var(--background-color);
