/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixin';
@import './base';
// @import "src/app/header/header.component.scss";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.fixed-position {
  overflow: hidden !important;
}

.theme{
  --primary-color: #{getColor('primary')};
  --secondary-color: #{getColor('secondary')};
  --tertiary-color: #{getColor('tertiary')};
  --cuaternary-color: #{getColor('cuaternary')};
  --background-color: #{getColor('background')};
  --text-color: #{getColor('text')};
  --gray : lightgray;

  &--dark{
    --primary-color: #{getColor('primary')};
    --secondary-color: #{getColor('secondary')};
    --tertiary-color: #{getColor('cuaternary')};
    --cuaternary-color: #{getColor('tertiary')};
    --background-color: #{getColor('text')};
    --text-color: #{getColor('background')};
    --gray : gray;
  }
}

.content{
  background-color: var(--background-color);
}


$modal-content-bg: var(--background-color);
