@import "../../../../scss/mixin.scss";
@import "../../../../scss/variables.scss";

/// Estilos para la vista de editar ejercicio
.content{
  @include response(md){
    height: calc(100vh - 112px);
  }
  height: 175vh;
}

/// Estilos para el titulo de la vista
.exercise-title {
  @include view_header();
  &-no-exercise {
    @include view_header(3rem);
    color: var(--text-color);
  }

  &-span {
    color: var(--text-color);
  }
}

/// Estilos para el contenedor entrada de ejercicio
.entry-container {
  @include response(lg){
    display: grid;
    grid-template-columns: 0.80fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding-top: 3rem;
    height: calc(100vh - 112px - 100px - 24px);
  }

  @include flex($direction: column, $justify: center, $align: center, $gap: 10rem);
  height: 100vh;
  width: 100%;
  padding-top: 30rem;

  &-left {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    @include flex($direction: column, $justify: center, $align: center);

    &-img {
      @include response(lg){
        width: 65%;
        border-radius: 1rem;
      }
      width: 50%;
      border-radius: 1rem;
    }

    &-buttons {
      margin-top: 2rem;
      @include response(lg){
        @include flex(
          $direction: row,
          $justify: center,
          $align: center,
          $gap: 2rem
        );
      }
      @include flex(
        $direction: column,
        $justify: center,
        $align: center,
        $gap: 2rem
      );
      &-button {
        @include response(lg){
          @include button(lg, true, $width: 20rem);
        }
        @include button(md, true, $width: 20rem);
      }
    }
  }

  &-right {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
    @include flex(
      $direction: column,
      $justify: flex-start,
      $align: center,
      $gap: 2rem
    );

    &-title{
      @include view_header(5rem);
      color: var(--text-color);
      margin-bottom: 5rem;
      &-date{
        color: var(--primary-color);
        font-weight: getFontWeight(normal);
      }
    }

    &-form {
      @include flex(
        $direction: column,
        $justify: center,
        $align: center,
        $gap: 2rem
      );

      &-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        place-items: center;
        width: 100%;

        &-input {
          grid-area: 1 / 2 / 2 / 3;
          @include response(md){
            width: 100% !important;
          }
          width: 50% !important;
          @include input();
          &-color{
            @include response(md){
              width: 100% !important;
            }
            width: 50% !important;
            grid-area: 1 / 2 / 2 / 3;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: 100%;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &::-webkit-color-swatch {
              border-radius: 0.5rem;
              border: none;
            }
            &::-moz-color-swatch {
              border-radius: 0.5rem;
              border: none;
            }
          }
        }

        &-textarea {
          @include response(md){
            width: 100% !important;
          }
          width: 70% !important;
          @include input();
          resize: both !important;
        }
        &-label {
          @include response(md){
            width: 100%;
          }
          width: 50% !important;
          grid-area: 1 / 1 / 2 / 2;
          @include label();
          padding-bottom: 0;
          text-align: center;
          color: var(--text-color);

          &-2 {
            @include response(md){
              width: 100%;
            }
            width: 50% !important;
            @include label();
            grid-area: 1 / 3 / 2 / 4;
            padding-bottom: 0;
            text-align: center;
          }
        }
      }
      &-button {
        margin-top: 5rem;
        @include button(lg, true, $width: 20rem);
        @include response(md){
          margin-bottom: 0;
        }
        margin-bottom: 2rem;

        &-disabled{
          margin-top: 5rem;
          @include button(lg, false, $disabled: true, $width: 20rem);
          @include response(md){
            margin-bottom: 0;
          }
          margin-bottom: 2rem;
        }
      }
    }
  }
}

/// Estilos para el título del offcanvas
.offcanvas-title{
  text-align: center !important;
  color: var(--primary-color);
}

.breadcrumbs{
  @include response(lg){
    @include breadcrumbs(5rem);
  }
  @include breadcrumbs(1.5rem);
}

.loader{
  @include loader(50%, 38%);
}
