<main class="content">
  <div class="toast-container">
    <!-- <ngb-toast *ngIf="showAddToast" [autohide]="true" (hidden)="showAddToast=false">
      <ng-template ngbToastHeader>
        <div class="me-auto">
          <img src="../../../../../assets/images/FitVerumLogo.png" width="40" height="40"/>
          <strong class="mx-1">FitVerum</strong>
        </div>
      </ng-template>
      Routine added successfully!
    </ngb-toast> -->
  </div>
  <div class="trainer-diets-container">
    <div class="trainer-diets-container-clients">
      <h1 class="trainer-diets-container-clients-title">{{"TRAINERS.DIETS.CLIENTS" | translate}}</h1>
      <table class="trainer-diets-container-clients-table">
        <tr
          *ngFor="let client of clients | slice : (page - 1) * pageSize : page * pageSize" (click)="selectClient(client)">
          <td>
            <img
              *ngIf="client.photoURL != null"
              referrerpolicy="no-referrer"
              class="trainer-diets-container-clients-table-client-img"
              [src]="client.photoURL"
              alt="Client Image"
            />
            <img
              *ngIf="client.photoURL == null"
              class="trainer-diets-container-clients-table-client-img"
              src="https://firebasestorage.googleapis.com/v0/b/fitverum.appspot.com/o/default-user.png?alt=media&token=938b94bc-1a96-4cfd-9cec-7c97da53e3ce"
              alt="Client Image"
            />
          </td>
          <td class="trainer-diets-container-clients-table-client-name">
            {{ client.displayName }}
          </td>
          <td>
            <button class="trainer-diets-container-clients-table-client-button" (click)="selectClient(client)">
              <i class="fa-solid fa-hand-pointer"></i>
            </button>
          </td>
        </tr>
      </table>
      <p *ngIf="this.clients.length == 0" class="no-clients-message">
        {{"TRAINERS.DIETS.NO-CLIENTS" | translate}}
      </p>
      <div class="pagination">
        <ngb-pagination
          [collectionSize]="this.clients.length"
          *ngIf="this.clients.length > 5"
          [pageSize]="pageSize"
          [directionLinks]="false"
          [(page)]="page"
          class="w-100"
        >
        </ngb-pagination>
      </div>
    </div>

    <div class="trainer-diets-container-info">
      <div *ngIf="loadingDiets && selectedClient != null" class="loader"></div>
      <h1 *ngIf="selectedClient != null" class="trainer-diets-container-info-title">
        {{"TRAINERS.DIETS.TITLE" | translate}} <span class="trainer-diets-container-info-title-username">{{selectedClient.displayName}}</span>
      </h1>
      <h1 *ngIf="selectedClient == null" class="trainer-diets-container-info-title">{{"TRAINERS.DIETS.DIETS" | translate}}</h1>
      <h2 *ngIf="selectedClient == null" class="trainer-diets-container-info-no-client">{{"TRAINERS.DIETS.NO-CLIENT" | translate}}</h2>
      <div class="trainer-diets-container-info-container-actions">
        <button *ngIf="selectedClient != null" class="trainer-diets-container-info-container-actions-button" routerLink="/trainer/diets/add/{{selectedClient.id}}">{{"TRAINERS.DIETS.BUTTON" | translate}}</button>
      </div>
      <h2 *ngIf="diets.length == 0 && selectedClient != null" class="trainer-diets-container-info-no-diets">{{"TRAINERS.DIETS.NO-DIETS" | translate}}</h2>
      <div class="trainer-diets-container-info-container">
        <div class="trainer-diets-container-info-container-routine" *ngFor="let singleDiet of diets">
          <app-trainer-diet-card [diet]="singleDiet"></app-trainer-diet-card>
        </div>
      </div>
    </div>
  </div>
</main>

